<ion-view title="aboutUs">
<div class="bar bar-header fino_head">
<button class="button button-clear ion-android-arrow-back " ng-controller="goOneStep" ng-click="goOneStepback()"></button>
  <div class="h1 title"><p class="head_title"><span id="title">ABOUT US</span></p></div>
  <a class="button button-clear button-positive  ion-android-call" ng-href="tel:080-41245883"></a>
</div>
	<ion-content overflow-scroll="true" padding="false" class="has-header aboutus">
<div class="row aboutus_block aboutus_social">
	<div class="col-20 aboutus_bar">
		<img src="img/finotree.png">
	</div>
	<div class="col-40 aboutus_bar text-center">
		<p class="padding">About FinoZen<br/></p>
		<div class="row aboutus_icon_block ">
			<div class="col">
				<i class = "icon icon ion-social-facebook"></i>
			</div>
			<div class="col">
				<i class = "icon icon ion-social-twitter"></i>
			</div>
			<div class="col">
				<i class = "icon icon ion-social-linkedin"></i>
			</div>
		</div>
	</div>
	<div class="col-30 aboutus_button">
		<button class="button button-full button-positive">
			ADD MONEY
		</button>
	</div>
</div>
<div class="row aboutus_block aboutus_intro">
	<div class="col aboutus_bar">
		<p>
FinoZen aims to revolutionize personal investing habits in India. We realize that 99% of Indians aren’t regular investor and our money keeps lying idle in bank account. To solve this problem, we created FinoZen using which you can invest your money instantaneously in one click, and get returns everyday, while this money remains completely safe you can also withdraw this without penalty any time.
		</p>
		<p>We are a bunch of IIT and IIM graduates with cumulative experience of 25 years+ in financial services.
		</p>
		<p>In compliant with SEBI regulations, FinoZen is a AMFI registered Mutual Fund Distributor with ARN No. 107100. 
		</p>
	</div>
</div>
<div class="row aboutus_block aboutus_item padding">
	<div class="col-40 text-center">
	<img src="img/varun.png">
	<p class="padding item_role">CEO</p>
		<div class="row aboutus_icon_block ">
			<div class="col social_icon">
				<i class = "icon icon ion-social-facebook"></i>
			</div>
			<div class="col social_icon">
				<i class = "icon icon ion-social-twitter"></i>
			</div>
			<div class="col social_icon">
				<i class = "icon icon ion-social-linkedin"></i>
			</div>
		</div>
	</div>
	<div class="col-60 aboutus_item">
		<p>Varun is a graduate of IIT Madras and a certified Mutual Fund Advisor. He ensures that everyone in FinoZen is working towards providing a hassle free investing experience to our users. He is always reachable at varun@finozen.com. Please feel free to drop him an email if you ever have any query or an unsolved issue from our customer support team.
		</p>
	</div>
</div>
    </ion-content>

</ion-view>