<ion-view title="aboutUs">
<div class="bar bar-header fino_head">
<button class="button button-clear ion-android-arrow-back " ng-controller="goOneStep" ng-click="goOneStepback()"></button>
  <div class="h1 title"><p class="head_title"><span id="title">ABOUT US</span></p></div>
  <a class="button button-clear button-positive  ion-android-call" ng-href="tel:080-41245883"></a>
</div>
	<ion-content overflow-scroll="true" padding="false" class="has-header aboutus">
<div class="row aboutus_block aboutus_social">
	<div class="col-20 aboutus_bar">
		<img src="img/finotree.png">
	</div>
	<div class="col-40 aboutus_bar text-center">
		<p class="padding">About FinoZen<br/></p>
		<div class="row aboutus_icon_block ">
			<div class="col">
				<i class = "icon icon ion-social-facebook"></i>
			</div>
			<div class="col">
				<i class = "icon icon ion-social-twitter"></i>
			</div>
			<div class="col">
				<i class = "icon icon ion-social-linkedin"></i>
			</div>
		</div>
	</div>
	<div class="col-30 aboutus_button">
		<button class="button button-full button-positive">
			ADD MONEY
		</button>
	</div>
</div>
<div class="row aboutus_block aboutus_intro">
	<div class="col aboutus_bar">
		<p> FinoZen is a mobile app where you can watch your money grow, literally! It enables you to invest and withdraw in just a click while your money grows at an expected rate of 7.5 – 8.5% p.a. , enables you to invest and withdraw in just a click</p>
	</div>
</div>
<div class="row aboutus_block aboutus_item padding">
	<div class="col-40 text-center">
	<img src="img/varun.png">
	<p class="padding item_role">CEO</p>
		<div class="row aboutus_icon_block ">
			<div class="col social_icon">
				<i class = "icon icon ion-social-facebook"></i>
			</div>
			<div class="col social_icon">
				<i class = "icon icon ion-social-twitter"></i>
			</div>
			<div class="col social_icon">
				<i class = "icon icon ion-social-linkedin"></i>
			</div>
		</div>
	</div>
	<div class="col-60 aboutus_item">
		<p> FinoZen is a mobile app where you can watch your money grow, literally! It enables you to invest and withdraw in just a click while your money grows at an expected rate of 7.5 – 8.5% p.a. , enables you to invest and withdraw in just a click</p>
	</div>
</div>
    </ion-content>

</ion-view>