<ion-view title="aboutUs">
<div class="bar bar-header fino_head" ng-controller="popupController as popup">
<button class="button button-clear ion-android-arrow-back " ng-controller="goOneStep" ng-click="goOneStepback()"></button>
  <div class="h1 title"><p class="head_title"><span id="title">ABOUT US</span></p></div>
  <a class="button button-clear button-positive  ion-android-call" ng-click="showPopup()"></a>
</div>
	<ion-content overflow-scroll="true" padding="false" class="has-header aboutus">
<div class="row aboutus_block aboutus_social">
	<div class="col-40 aboutus_bar">
		<img src="img/finotree.png" style="height:70px; margin:10px auto;">
	</div>
	<div class="col-40 aboutus_bar text-center">
		<p class="padding" style="font-size: 18px; color: #adadad;"><b>FinoZen</b><br/></p>
		<div class="row aboutus_icon_block ">
			<div class="col">
				<a href="#" onclick="window.open('https://www.facebook.com/FinoZen-1709979945889634/?ref=hl', '_system', 'location=yes'); return false;"><i class = "icon icon ion-social-facebook"></i>
			</div>
			<div class="col">
				<a href="#" onclick="window.open('https://twitter.com/finozen1?lang=en', '_system', 'location=yes'); return false;"><i class = "icon icon ion-social-twitter"></i>
			</div>
			<div class="col">
				<a href="#" onclick="window.open('https://www.linkedin.com/company/finozen?trk=biz-companies-cym', '_system', 'location=yes'); return false;"><i class = "icon icon ion-social-linkedin"></i></a>
			</div>
		</div>
	</div>
	<!--<div class="col-30 aboutus_button">
		<button class="button button-full button-positive">
			ADD MONEY
		</button>
	</div>-->
</div>
<div class="row aboutus_block aboutus_intro">
	<div class="col aboutus_bar">
		<p>
FinoZen aims to revolutionize personal investing habits in India. We realize that most Indians aren’t regular investors and our money lies idle in bank accounts. To solve this problem, we created FinoZen using which you can invest your money in just one click and get returns everyday. While your money remains completely safe you can also withdraw this without penalty any time.
		</p>
		<p>We are a bunch of IIT and IIM graduates with cumulative experience of 25 years+ in financial services.
		</p>
		<p>In compliance with SEBI regulations, FinoZen is an AMFI registered Mutual Fund Distributor with ARN No. 107100. 
		</p>
	</div>
</div>
<div class="row aboutus_block aboutus_item padding aboutus_social">
	<div class="col-40 text-center">
	<img src="img/varun.png" style="margin-top: 3px;">
	</div>
	<div class="col-40 text-center">
	<p class="padding item_role">VARUN GUPTA</p>
	<p class="padding item_role">CEO</p>
		<div class="row aboutus_icon_block ">
			<div class="col">
				<a href="#" onclick="window.open('https://www.facebook.com/varunsunnygupta?fref=ts', '_system', 'location=yes'); return false;"><i class = "icon icon ion-social-facebook"></i></a>
			</div>
			<div class="col social_icon">
				<a href="#" onclick="window.open('https://twitter.com/varunsunnygupta', '_system', 'location=yes'); return false;"><i class = "icon icon ion-social-twitter"></i>
			</div>
			<div class="col social_icon">
				<a href="#" onclick="window.open('https://www.linkedin.com/in/varunsunnygupta', '_system', 'location=yes'); return false;"><i class = "icon icon ion-social-linkedin"></i>
			</div>
		</div>
	</div>
	</div>
	<div class="padding aboutus_item">
		<p class="padding">Varun is a graduate of IIT Madras and a certified Mutual Fund Advisor. He ensures that everyone in FinoZen is working towards providing a hassle free investing experience to our users. He is always reachable at varun@finozen.com. Please feel free to drop him an email if you ever have any query or an unsolved issue from our customer support team.
		</p>
	</div>
</div>
    </ion-content>

</ion-view>