<ion-view title="Account">
<div class="screen_account"> 
<div class="bar bar-header fino_head"style="background-color:#18bb9c;height:55px;">
<a class="button button-clear ion-android-arrow-back " href="#/page14/page15" style="color:white; font-size:23px;"  ></a>
    <div class="h1 title"><p>Account</p></div>
  <button class="button button-clear button-positive  ion-android-call" style="color:white; font-size:25px;"></button>
</div>
    <ion-content overflow-scroll="false" padding="false" class="has-header">
        <div class="row account_img"><img src="img/account-image.png" alt=""></div>
        <div class="row account_info">
          <h2>RACHNA GOTHI </h2>
          <p class=""> 98860 98860</p>
        </div>
        <div class="row account_actions">
        <div class="col-90"><h3>Basic settings</h3></div>
        
  	     <div class="col action">
           <ul class="list">
          <li class="item item-toggle">
             Reminder to Invest
             <label class="toggle toggle-assertive">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
        </ul>
         </div>

         <div class="col action">
        <ul class="list">
           <li class="item item-toggle">
             Notifications
             <label class="toggle toggle-assertive">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
        </ul>     
         </div> 
         <div class="col-90 address"><h3>Address</h3>
        <p> #401, The Rise Apartment, HSR Layout </p>
        </div>    
          
        </div>       

    </ion-content>

</div>
</ion-view>