<ion-view title="Account">
<div class="screen_account">
<div class="bar bar-header fino_head" ng-controller="popupController as popup">
	<a class="button button-clear ion-android-arrow-back " href="#/page14/page15"></a>
	<div class="h1 title"><p class="head_title"><span id="title">ACCOUNT</span></p></div>
	<a class="button button-clear button-positive  ion-android-call" ng-click="showPopup()"></a>
</div>
    <ion-content overflow-scroll="false" padding="false" class="has-header">
        <div class="row account_img"><img src="img/account-image.png" alt=""></div>
        <div class="row account_info" ng-controller="withdrawCtrl">
          <h2>{{clientName}} </h2>
          <p class="">{{clientMobile}} </p>
        </div>
		<div class="list" ng-controller="signoutCtrl">
		  <!--<a class="item item-icon-right" href="#/change_pin"><i class="icon ion-ios-arrow-right"></i>Change PIN</a>-->
		  <a class="item item-icon-right" href="#/page7" ng-click="signOut()"><i class="icon ion-ios-arrow-right"></i>Sign Out</a>
		</div>

    </ion-content>

</div>
</ion-view>
