

<ion-view title="Success" class="verification"  ng-controller="verifySuccessCtrl">
<div class="bar bar-header fino_head" ng-controller="popupController as popup">
	<div class="h1 title"><p class="head_title"><span id="title">ACCOUNT ACTIVATION</span></p></div>
	<a class="button button-clear button-positive  ion-android-call" ng-click="showPopup()"></a>
</div>
    <ion-content overflow-scroll="false" padding="false" class="has-header">
		<div class="container">
			<div class="rows"><img ng-src={{statusImage}} class="steps" /></div>
			<div class="rows padding">
			<h5 class="text-center" style="font-weight:600; text-transform:uppercase;color:#18bb9c;">Congratulations!</h5>
				<p class="padding">{{para1}}</p>
				<p class="padding">{{para2}}</p>
				<p class="padding" style="padding: 0px 10px; margin: 0px;"><b>FinoZen Key Features -<br/></b></p>
				<ol >
					<li><span style="color: rgb(24, 187, 156); padding: 11px;" class="ion-checkmark-circled"></span>Completely safe and secure</li>
					<li><span style="color: rgb(24, 187, 156); padding: 11px;" class="ion-checkmark-circled"></span>Expected returns better than FD</li>
					<li><span style="color: rgb(24, 187, 156); padding: 11px;" class="ion-checkmark-circled"></span>Withdraw anytime without penalty</li>
					<li><span style="color: rgb(24, 187, 156); padding: 11px;" class="ion-checkmark-circled"></span>24X7 Customer Support</li>
				</ol>
			</div>
		</div>
    </ion-content>

<ion-footer-bar padding="false">
	<div class="button-bar " style="padding:0;">
		<button class="button button-positive" ng-click="notnowFunction()" ng-disabled="true" style="margin:1px;line-height: 44px;" >{{notNow}}</button>
		<button class="button button-positive" ng-click="investNowFunction()" style="margin:1px; line-height: 44px;" >{{startInvesting}}</button>
	</div>
</ion-footer-bar>
</ion-view>