<ion-view title="Address Proof">
<div class="bar bar-header fino_head">
<button class="button button-clear ion-android-arrow-back " ng-controller="goOneStep" ng-click="goOneStepback()"></button>
  <div class="h1 title"><p class="head_title"><span id="title">ADDRESS PROOF</span></p></div>
  <a class="button button-clear button-positive  ion-android-call" ng-href="tel:080-41245883"></a>
</div>
	<ion-content overflow-scroll="true" padding="true" class="has-header" ng-controller="addressImageCTRL" >
		<div class="panimageSection text-center">
		<p class="text-left"><br/><b>Step: 4/6 </b></p>
		<div class="front">
			<div class="panimage">
				<img ng-show="addressImage !== undefined" ng-src="{{addressImage}} ">
				<img ng-show="addressImage === undefined" ng-src="{{cimageFront}}">
			</div>
			<div class="text-center">
				<button class="button button-positive" ng-click="addressFrontImg()" ng-show="addressImage === undefined">Take image</button>
			</div>
		</div>
		</div>
<ion-footer-bar padding="false" style="padding:0;">
	<div class="button-bar " style="padding:0;" >
		<button class="button button-positive" ng-click="bank()" style="margin:1px;line-height: 44px;">SKIP</button>
		<button class="button button-positive" ng-click="addressFront()" style="margin:1px;line-height: 44px;" ng-disabled="!addressImage">SUBMIT</button>
	</div>
</ion-footer-bar>
    </ion-content>

</ion-view>