<ion-view title="Address Proof">
<div class="bar bar-header fino_head">
<button class="button button-clear ion-android-arrow-back " ng-controller="goOneStep" ng-click="goOneStepback()"></button>
  <div class="h1 title"><p class="head_title"><span id="title">ADDRESS PROOF</span></p></div>
  <a class="button button-clear button-positive  ion-android-call" ng-href="tel:09206073021"></a>
</div>
	<ion-content overflow-scroll="true" padding="false" class="has-header" ng-controller="addressFrontCTRL" >
		<div class="panimageSection text-center padding" >
		<p class="text-left"><br/><b>Step: 3/3 </b></p>
		<div class="frontImg">
			<div class="panimage">
				<img ng-show="addressImage !== undefined" ng-src="{{addressImage}} " id="addressFrontImage" />
				<img ng-show="addressImage === undefined" ng-src="{{cimageFront}}"/>
			</div>
			<div class="text-center">
				<button class="button button-positive" ng-click="addressFrontImg()" ng-show="addressImage === undefined">Take image</button>
				<button class="button button-positive" ng-click="addressFrontImg()" ng-show="addressImage !== undefined">Re-Take Image</button>
			</div>
		</div>
		</div>
<ion-footer-bar padding="false" style="padding:0;">
	<div class="button-bar " style="padding:0;" >
		<button class="button button-positive" ng-click="bank()" ng-disabled="true"  style="margin:1px;line-height: 44px;">SKIP</button>
		<button class="button button-positive" ng-click="addressFrontSubmit()" style="margin:1px;line-height: 44px;" ng-disabled="!addressImage">SUBMIT</button>
	</div>
</ion-footer-bar>
    </ion-content>

</ion-view>