<ion-view title="PAN">
<div class="bar bar-header fino_head">
<button class="button button-clear ion-android-arrow-back " ng-controller="goOneStep" ng-click="goOneStepback()"></button>
  <div class="h1 title"><p class="head_title"><span id="title">BANK DETAILS</span></p></div>
  <a class="button button-clear button-positive  ion-android-call" ng-href="tel:07899825545"></a>
</div>
	<ion-content overflow-scroll="true" padding="true" class="has-header" ng-controller="bankDetailsCTRL">
		<p style="padding: 16px 0px 8px;">Please enter the net banking enabled bank details. All transactions, including withdrawals are permtted only through your personal registered bank account.</p>
<form name="bankDetailsTest" novalidate="" >
		<label class="item item-input" >
			<input type="text" name="panNo" placeholder="Enter PAN Number" ng-model="panNo" minlength="11" required>
		</label>
		<label class="item item-input" >
			<input type="text" name="accNo" placeholder="Enter Bank Account Number" ng-model="accNumber" required>
		</label>
		<label class="item item-input" >
			<input type="text" name="ifsc" placeholder="Enter IFSC Code"ng-model="IFSC_code" minlength="11" required maxlength="11">
		</label>
		<label class = "item item-input item-select item-light">
		  <div class = "input-label">
			 Type of account
		  </div>
		  <select ng-model='accountType.type' required ng-options='option.value as option.name for option in accountTypeOptions'></select>
		</label>
		<label class = "item item-input item-select item-light previousInvestments">
		  <div class = "input-label">
			 Have you invested in Mutual funds in last 2 years
		  </div>
		  <select ng-model='pastInvestments.type' required ng-options='option.value as option.name for option in pastInvestmentsOptions'></select>
		</label>
	<div class="error-container" ng-show="bankDetailsTest.ifsc.$error && bankDetailsTest.$submitted" ng-messages="bankDetailsTest.ifsc.$error">
		<div  class="error" >
			<div ng-message="required">All fields are mandatory.</div>
			<div ng-message="minlength, maxlength">
				IFSC code must be 11 digits.
			</div>
		</div>
	</div>
	<div class="error-container" ng-show="(bankDetailsTest.panNo.$error && bankDetailsTest.$submitted) && bankDetailsTest.ifsc.$valid" ng-messages="bankDetailsTest.panNo.$error">
		<div  class="error" >
			<div ng-message="required">All fields are mandatory.</div>
			<div ng-message="minlength, maxlength">
				Enter a valid PAN number.
			</div>
		</div>
	</div>

<!--
		<p style="padding: 5px 0; text-align:left;"><input type="checkbox">  Please  deposited only to this account.</p>
	-->	
		<p style="padding: 5px 0; text-align:left;font-size: 10px;"><sup>*</sup>By clicking on SUBMIT you agree that these are your personal bank account details.</p>
		<br/>
		<br/>
		<br/>
</form>
<ion-footer-bar padding="false" style="padding:0;" >
	<div class="button-bar " style="padding:0;" >
		<button class="button button-positive" ng-click="bankSkip()" style="margin:1px;line-height: 44px;">SKIP</button>
		<button type="submit" class="button button-positive" ng-click="bankTest(pastInvestments.type)" style="margin:1px;line-height: 44px;" >SUBMIT</button>
	</div>
</ion-footer-bar>
    </ion-content>

</ion-view>