<ion-view title="PAN">
<div class="bar bar-header fino_head">
<button class="button button-clear ion-android-arrow-back " ng-controller="goOneStep" ng-disabled="true" ng-click="goOneStepbacktoAddress()"></button>
  <div class="h1 title"><p class="head_title"><span id="title">ACCOUNT ACTIVATION</span></p></div>
  <a class="button button-clear button-positive  ion-android-call" ng-href="tel:09206073021"></a>
</div>
	<ion-content padding="true" class="has-header bankDetails" ng-controller="bankDetailsCTRL">
<div class="InnerDiv">
	<p style="padding: 20px 0 3px;">Please enter your valid PAN No. and bank details to activate your FinoZen account instantaneously.</p>
<form name="bankDetailsTest" novalidate="" >
		<label class="item item-input" >
			<input type="text" name="panNo" placeholder="Enter Your PAN Number"  uppercase-only ng-model="panNo" minlength="10"  maxlength="10"  required />
		</label>
		<label class="item item-input" >
			<input type="text" name="accNo" placeholder="Enter Bank Account Number" ng-model="accNumber" required />
		</label>
		<label class="item item-input" >
			<input type="text" name="ifsc" placeholder="Enter IFSC Code"  uppercase-only ng-model="IFSC_code" minlength="11" required maxlength="11" />
		</label>
		


	<div class = "list questionsSelect" style="margin-bottom:0;">
		<label class = "item item-input item-select item-light">
		  <div class = "input-label">
			 Type of account
		  </div>
		  <select ng-model='accountType.type' required ng-options='option.value as option.name for option in accountTypeOptions'></select>
		</label>
	</div>
	<div class="error-container" ng-show="bankDetailsTest.ifsc.$error && bankDetailsTest.$submitted" ng-messages="bankDetailsTest.ifsc.$error">
		<div  class="error" >
			<div ng-message="required">All fields are mandatory.</div>
			<div ng-message="minlength, maxlength">
				IFSC code must be 11 digits.
			</div>
		</div>
	</div>
	<div class="error-container" ng-show="bankDetailsTest.panNo.$error && bankDetailsTest.$submitted" ng-messages="bankDetailsTest.panNo.$error">
		<div  class="error" >
			<div ng-message="minlength, maxlength">
				PAN number must be 10 digits.
			</div>
		</div>
	</div>
	<div class="error-container" ng-if="panEror" ng-messages="bankDetailsTest.panNo.$error">
		<div  class="error" >
			<p>
				{{panEror}}
			</p>
		</div>
	</div>
	
<!--
		<p style="padding: 5px 0; text-align:left;"><input type="checkbox">  Please  deposited only to this account.</p>
	-->	
		<p style="padding: 10px 0; text-align:left;font-size: 10px;"><sup>*</sup>By clicking on SUBMIT you agree that these are your personal bank account details, PAN holder and Bank account holder are same. Please note that all withdrawals will be credited to registered bank account only.</p>
<!--
<ion-footer-bar padding="false" style="padding:0;" >
	<div class="button-bar " style="padding:0;" >
		<button class="button button-positive" ng-click="bankSkip()" style="margin:1px;line-height: 44px;">SKIP</button>
		<button type="submit" class="button button-positive" ng-click="bankUpload(bankDetailsTest)" style="margin:1px;line-height: 44px;" >SUBMIT</button>
	</div>
</ion-footer-bar>
		

		-->
<div ng-controller="BankCtrl" class="">
	<div ng-repeat="group in groups" class="faq_question_content Bank_questions">
	  <div class="item-stable col question"
				ng-click="toggleGroup(group)"
				ng-class="{active: isGroupShown(group)}">
		  
		&nbsp;
		<p>{{group.name}}</p>
		<i class="icon icon-right" ng-class="isGroupShown(group) ? 'ion-minus-circled' : 'ion-plus-circled'"></i>
	  </div>
	  <div class="item-accordion col answer"
				ng-repeat="item in group.items"
				ng-show="isGroupShown(group)">
		<p>{{item}}</p>
	  </div>
	</div>
</div>
</div>
<ion-footer-bar padding="false" style="padding:0;"  ng-hide="keyboardOpen"  >
	<div class="button-bar " style="padding:0;">
		<a class="button button-positive" ng-href={{bankSkipurl}}  ng-click="bankSkip()" style="margin:1px;line-height: 44px;">SKIP</a>
		<!--<button type="submit" class="button button-positive" ng-click="bankTest()" style="margin:1px;line-height: 44px;" >SUBMIT</button>-->
		<button type="submit" class="button button-positive" ng-click="bankUpload(bankDetailsTest)" style="margin:1px;line-height: 44px;" >SUBMIT</button>
	</div>
</ion-footer-bar>
</form>
    </ion-content>

</ion-view>