<ion-view title="Change PIN">
<div class="change_password">
<div class="bar bar-header fino_head" ng-controller="popupController as popup">
<button class="button button-clear ion-android-arrow-back " ng-controller="goOneStep" ng-click="goOneStepback()"></button>
	<div class="h1 title"><p class="head_title"><span id="title">CHANGE PASSWORD</span></p></div>
	<a class="button button-clear button-positive  ion-android-call" ng-click="showPopup()"></a>
</div>
    <ion-content overflow-scroll="false" padding="false" class="has-header" ng-controller="changeCtrl">
		<form class="input_list">
		  <input type="password" name="oldPin" ng-model="changePin.password" minlength="4" maxlength="20" placeholder="Enter Old PIN" >
		  <input type="password" name="newPin" ng-model="changePin.newPassword" minlength="4" maxlength="20" placeholder="Set your new password" >
		  <input type="password" name="confirmNewPin"  placeholder="Confirm your password" minlength="4" maxlength="20">
		  <input type="submit" value="Submit" ng-click="resetPin(changePin)">

		</form>

    </ion-content>

</div>
</ion-view>
