<ion-view title="Change PIN">
<div class="change_password">
<div class="bar bar-header fino_head" ng-controller="popupController as popup">
	<a class="button button-clear ion-android-arrow-back " href="#/page14/page15"></a>
	<div class="h1 title"><p class="head_title"><span id="title">CHANGE PIN</span></p></div>
	<a class="button button-clear button-positive  ion-android-call" ng-click="showPopup()"></a>
</div>
    <ion-content overflow-scroll="false" padding="false" class="has-header" ng-controller="changeCtrl">
		<form class="input_list">
		  <input type="password" name="oldPin" ng-model="changePin.oldPin" maxlength="4" placeholder="Enter Old PIN" >
		  <input type="password" name="newPin" ng-model="changePin.newPin" maxlength="4" placeholder="Enter New PIN" >
		  <input type="password" name="confirmNewPin"  placeholder="ReEnter New PIN" maxlength="4">
		  <input type="submit" value="submit" ng-click="forgotPin(changePin)">

		</form>

    </ion-content>

</div>
</ion-view>
