<ion-view title="CONFIRM">
<div class="bar bar-header fino_head">
<button class="button button-clear ion-android-arrow-back " ng-controller="goOneStep" ng-click="goOneStepback()"></button>
  <div class="h1 title"><p class="head_title"><span id="title">CONFIRM</span></p></div>
  <a class="button button-clear button-positive  ion-android-call" ng-href="tel:07899825545"></a>
</div>
	<ion-content overflow-scroll="true" padding="true" class="has-header">
<div class="panimageSection text-center">

</div>
    </ion-content>

</ion-view>