<ion-view title="FAQ" class="FAQ">
<div class="bar bar-header fino_head">
<a class="button button-clear ion-android-arrow-back " href="#/page14/page15"></a>
  <div class="h1 title"><p class="head_title"><span id="title">CONTACT US</span></p></div>
  <a class="button button-clear button-positive  ion-android-call" ng-href="tel:080-41245883"></a>
</div>
    <ion-content overflow-scroll="false" padding="false" class="has-header">
		<div class="list">
		  <a class="item item-icon-right" ng-href="mailto:rachna@Finotrust.com?&subject=App%20Feedback&body=body-goes-here"><i class="icon ion-ios-arrow-right"></i>Feedback</a>
		  <a class="item item-icon-right" ng-href="tel:080-41245883"><i class="icon ion-ios-arrow-right"></i>Call Us</a>
		  <a class="item item-icon-right" href="#/faq"><i class="icon ion-ios-arrow-right"></i>FAQ</a>
		  <!--<a class="item item-icon-right" href="#/feedback"><i class="icon ion-ios-arrow-right"></i></a>-->

		</div>
    </ion-content>
</ion-view>