<ion-view title="Feedback">
<div class="change_password feedback">
<div class="bar bar-header fino_head" ng-controller="popupController as popup">
	<a class="button button-clear ion-android-arrow-back " href="#/page14/page15"></a>
	<div class="h1 title"><p class="head_title"><span id="title">FEEDBACK</span></p></div>
	<a class="button button-clear button-positive  ion-android-call" ng-click="showPopup()"></a>
</div>
    <ion-content overflow-scroll="false" padding="false" class="has-header feedback_body">
		<div class="list">
			<p>We’re actively trying to improve FinoZen to better cater to your needs. Tap a star to rate. Leave us a note too, if u can!</p>
		</div>
		<div class="list item">
		  <img src="img/star.png">
		</div>
		
		<div class="input_list">
		  <textarea placeholder="Comments"></textarea>
		  <input type="submit" value="SUBMIT">
		</div>

    </ion-content>

</div>
</ion-view>
