<ion-view title="Forgot PIN">
<div class="change_password">
<div class="bar bar-header fino_head" ng-controller="popupController as popup">
	<a class="button button-clear ion-android-arrow-back " href="#/page7"></a>
	<div class="h1 title"><p class="head_title"><span id="title">FORGOT PIN</span></p></div>
	<a class="button button-clear button-positive  ion-android-call" ng-click="showPopup()"></a>
</div>
    <ion-content overflow-scroll="false" padding="false" class="has-header">
		<div class="input_list">
		  <input type="password" placeholder="Enter OTP" >
		  <input type="password" placeholder="Enter New 4-Digit PIN" >
		  <input type="password" placeholder="Confirm 4-Digit PIN" >
		  <input type="submit" value="RESET PIN" >
		</div>

    </ion-content>

</div>
</ion-view>
