<ion-view title="GrowthRate" class="summary">
        <div class="row circle" >
		<p class="total_value">{{xirrRate()}}%
			<br/><span class="current_bal item-note">Growth Rate</span> <span style="color: #fff; font-size: 16px;" class="button-icon ion-information-circled"  ng-controller="popOverController" ng-click="popover.show($event)"> </span> </p>
		</div>
        <div class="row" >
			<div class="col" style="text-align:center; font-size:18px"><p class="inner_numbers"><span style="font-size:28px"><sup>&#x20B9;</sup></span>{{gainMonth() | currency:""}} </p><p class="item-note left"  style="margin:0; ">Net Gain last 30 days 
      

			 </p>
			 </div>
			<div class="col" style="text-align:center; font-size:18px;">
			<p class="inner_numbers" style="margin:0;  border-left: 3px solid #808080;"><span style="font-size:28px"><sup>&#x20B9;</sup></span>{{netGainToday() | currency:""}}</p>
			<p  style="margin:0;  border-left: 3px solid #808080;" class="item-note left">Net Gain today</p>
			</div>
        </div>
</ion-view>