<ion-view title="GrowthRate">
<div class="bar bar-header fino_head"style="background-color:#18bb9c;height:55px;">
  <button class="button button-clear button-positive   ion-navicon " style="color:white; font-size:30px;"></button>
    <div class="h1 title"><p>FINOZEN</p></div>
  <button class="button button-clear button-positive  ion-android-call" style="color:white; font-size:25px;"></button>
</div>
    <ion-content overflow-scroll="false" padding="false" class="has-header">
        <div class="row circle"><p>8.75% pa</p></div>
        <div class="row">
			<div class="col" style="text-align:center; font-size:18px"><p class="inner_numbers">Rs. 25,252.00</p><p class="item-note left"  style="margin:0; ">Net change this month</p></div>
			<div class="col" style="text-align:center; font-size:18px;"><p class="inner_numbers" style="margin:0;  border-left: 3px solid #808080;">Rs. 25,252.00</p><p  style="margin:0;  border-left: 3px solid #808080;" class="item-note left">Net change this week</p></div>
        </div>

    </ion-content>
<div class="bar bar-footer row invest_button_footer">
  <div class="col invest_button"><a href="#"><img src="img/minus.png"></a></div>
  <div class="col invest_button"><a href="#"><img src="img/plus.png"></a></div>
</div>
</ion-view>