<ion-view title="CONFIRM">
    <div class="bar bar-header fino_head">
        <button class="button button-clear ion-android-arrow-back " ng-controller="goOneStep" ng-click="goOneStepback()"></button>
        <div class="h1 title"><p class="head_title"><span id="title">ADDRESS PROOF</span></p></div>
        <a class="button button-clear button-positive  ion-android-call" ng-href="tel:080-41245883"></a>
    </div>
    <ion-content overflow-scroll="true" padding="false" class="has-header" ng-controller="addressImageSelectionCTRL">
	<p class="padding" style="padding-top:20px; text-align:left;"><b>Step: 3/5 </b>Please choose ANY ONE address proof that you are providing.</p>
            <ion-list class="imageSelection">
			  <ion-radio ng-model="choice" ng-value="'AA'">Aadhar Card</ion-radio>
			  <ion-radio ng-model="choice" ng-value="'DL'">Driving Licence</ion-radio>
			  <ion-radio ng-model="choice" ng-value="'VO'">Voter ID</ion-radio>
			  <ion-radio ng-model="choice" ng-value="'PP'">Passport</ion-radio>
			  <ion-radio ng-model="choice" ng-value="'RC'">Ration Card</ion-radio>
			  <ion-radio ng-model="choice" ng-value="'GA'">Gas Bill</ion-radio>
			  <ion-radio ng-model="choice" ng-value="'GA'">Electricity Bill</ion-radio>
			</ion-list>
	<p style="padding: 26px 10px; text-align:left;font-size: 10px;"><sup>*</sup>Please ensure that your name and address is visible clearly on your address proof.</p>

<ion-footer-bar padding="false" style="padding:0;">
	<div class="button-bar " style="padding:0;">
		<button class="button button-positive" ng-click="takeImageSkip()" style="margin:1px;line-height: 44px;">SKIP</button>
		<button class="button button-positive" ng-click="takeImage()" style="margin:1px;line-height: 44px;" ng-disabled="!choice">SUBMIT</button>
	</div>
</ion-footer-bar>
    </ion-content>
</ion-view>