<ion-view title="Success" class="verification"  ng-controller="verifySuccessCtrl">
<div class="bar bar-header fino_head" ng-controller="popupController as popup">
	<div class="h1 title"><p class="head_title"><span id="title">ACCOUNT ACTIVATION</span></p></div>
	<a class="button button-clear button-positive  ion-android-call" ng-click="showPopup()"></a>
</div>
    <ion-content overflow-scroll="false" padding="false" class="has-header">
		<div class="container">
			<div class="rows"><img ng-src={{statusImage}} class="steps" /></div>
			<div class="rows padding">		
				<h5 class="text-center" ng-hide="disbledSkip" style="font-weight:600; text-transform:uppercase;color:#18bb9c;">Congratulations!</h5>
				<p class="padding">Your FinoZen account is currently inactive. Do you wish to start saving and growing your money everyday?</p>
				<p class="padding">If yes, please click on “Activate Now” and submit your PAN Number and Bank Details. We will activate your account instantaneously!</p>
			</div>
		</div>
    </ion-content>

<ion-footer-bar padding="false">
	<div class="button-bar " style="padding:0;">
		<button class="button button-positive" ng-click="notnowFunction()" style="margin:1px;line-height: 44px;" >{{notNow}}</button>
		<button class="button button-positive" ng-click="investNowFunction()" style="margin:1px; line-height: 44px;" >{{startInvesting}}</button>
	</div>
</ion-footer-bar>
</ion-view>
