<ion-view title="Add Money">
<div class="screen_invest "> 
<div class="bar bar-header fino_head" ng-controller="popupController as popup">
	<a class="button button-clear ion-android-arrow-back " href="#/page14/page15"></a>
	<div class="h1 title"><p class="head_title"><span id="title">ADD MONEY</span></p></div>
	<a class="button button-clear button-positive  ion-android-call" ng-click="showPopup()"></a>
</div>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
		<div class="row bar bar-subheader invest_subheader">
		  <h2 class="title">CURRENT BALANCE : <span style="color:#18bb9c"><span>&#x20B9;</span> 100</span></h2>
		</div>
		<div class="row invest_info">
		<p>How much would you like to add ?</p>
		</div>
		<div class="list invest_info"  ng-controller="sampleCtrl">
			<p class="returns_hint" >Expected Value in a year:
				<span style="color:#18bb9c;"><label id="income" >&nbsp; {{netVal | currency:"&#8377;" }} </label></span>
			</p>
<form name="investForm" novalidate="" ng-submit="Invest(investForm)">

<label class="item item-input" ng-class="{ 'has-errors' : investForm.amount.$touched && investForm.amount.$invalid, 'no-errors' :  investForm.amount.$touched && investForm.amount.$valid}">
	<input type="number" placeholder="Enter Amount"  name="amount"  ng-model="initial" ng-pattern="/^[0-9]{1,9}$/" min="100"  ng-keyup="netVal=initial+((initial*8.3)/100)">
</label>
<div class="error-container" ng-hide="checked_withdraw" ng-show="investForm.amount.$error && investForm.$submitted" ng-messages="investForm.amount.$error">
	<div  class="error" >

		<div  ng-message="min">
			Add minimum amount of <span>&#x20B9;</span> 100
		</div>
		<div  ng-message="pattern">
			Enter valid Integer
		</div>
	</div>
</div>
		

		<p class="invest_hint">MINIMUM AMOUNT: <span>&#x20B9;</span> 100</p>
		<div class="row" >
		<p><br>To optimize returns, we will add <span class="suggested"> {{ final(initial,nav,0) | currency:"&#8377;" }} </span> to your investments <br> </p>
		</div>
		 
		
<!--		<label class="item item-input">
		<input type="Date" placeholder="Select Date" name="date"/>
		</label>-->
		</div>

		<div class="row" ng-controller="InvesturlCtrl">
		<button type="submit" class="button button-full button-positive bar-footer invest_button_footer"  >Add Money</button>
		</div>

		<p class="item_checkbox"> I have read the <a href="#" onclick="window.open('http://www.finotrust.com/documents/OfferDocument.pdf', '_system', 'location=yes'); return false;">Offer Document</a>,<a href="#" onclick="window.open('http://www.finotrust.com/documents/KIM.pdf', '_system', 'location=yes'); return false;">Scheme Information Document</a>, <a href="#" onclick="window.open('http://www.finotrust.com/documents/T&C.pdf', '_system', 'location=yes'); return false;">T&C </a> before making the investment</p>
</form>
    </ion-content>
</div>
</ion-view>