<ion-view title="Add Money">
<div class="screen_invest "> 
<div class="bar bar-header fino_head" ng-controller="popupController as popup">
	<a class="button button-clear ion-android-arrow-back " href="#/page14/page15"></a>
	<div class="h1 title"><p class="head_title"><span id="title">ADD MONEY</span></p></div>
	<a class="button button-clear button-positive  ion-android-call" ng-click="showPopup()"></a>
</div>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
		<div class="row bar bar-subheader invest_subheader">
		  <h2 class="title">CURRENT BALANCE : <span style="color:#18bb9c"><span>&#x20B9;</span> 100</span></h2>
		</div>
		<div class="row invest_info">
		<p>How much would you like to add ?</p>
		</div>
		<div class="list invest_info" >
			<p class="returns_hint" >Expected Value in a year:
				<span style="color:#18bb9c;"><label id="income">&nbsp; {{return | currency:"&#8377;" }} </label></span>
			</p>

		  <label class="item item-input">
			<input type="number" placeholder="Enter Amount" name="invest" ng-model="inv.value" ng-keyup="return=inv.value+((inv.value*8.3)/100)"  step="1"/>			
		  </label>
		<p class="invest_hint">MINIMUM AMOUNT: <span>&#x20B9;</span> 300</p>
		 
		 
		
<!--		<label class="item item-input">
		<input type="Date" placeholder="Select Date" name="date"/>
		</label>-->
		</div>

		<div class="row">
		<a  class="button button-full button-positive bar-footer invest_button_footer"  href="#/success">Add Money</a>
		</div>
		<p class="item_checkbox"> I have read the <a href="#" onclick="window.open('http://www.finotrust.com/documents/OfferDocument.pdf', '_system', 'location=yes'); return false;">Offer Document</a>,<a href="#" onclick="window.open('http://www.finotrust.com/documents/KIM.pdf', '_system', 'location=yes'); return false;">Scheme Information Document</a>, <a href="#" onclick="window.open('http://www.finotrust.com/documents/T&C.pdf', '_system', 'location=yes'); return false;">T&C </a> before making the investment</p>



</div>
    </ion-content>
</ion-view>