<ion-view title="Add Money">
<div class="screen_invest "> 
<div class="bar bar-header fino_head"style="background-color:#18bb9c;height:55px;" ng-controller="popupController as popup">
<a class="button button-clear ion-android-arrow-back " href="#/page14/page15" style="color:white; font-size:23px;"  ></a>
    <div class="h1 title"><p>Add Money</p></div>
<a class="button button-clear button-positive  ion-android-call" style="color:white; font-size:25px;" ng-click="showPopup()"></a>
</div>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
		<div class="row bar bar-subheader invest_subheader">
		  <h2 class="title">CURRENT BALANCE : <span style="color:#18bb9c"><span>&#x20B9;</span> 100</span></h2>
		</div>
		<div class="row invest_info">
		<p>How much would you like to add ?</p>
		</div>
		<div class="list invest_info" >
			<p class="returns_hint" >Expected Value in a year:
				<span style="color:#18bb9c;"><label id="income">&nbsp; {{return | currency:"&#8377;" }} </label></span>
			</p>

		  <label class="item item-input">
			<input type="number" placeholder="Enter Amount" name="invest" ng-model="inv.value" ng-keyup="return=inv.value+((inv.value*8.3)/100)"/>			
		  </label>
		<p class="invest_hint">MINIMUM BALANCE: <span>&#x20B9;</span> 100</p>
		 <label class="item item-input">
		<input type="Date" placeholder="Select Date" name="date"/>
		  </label>
		</div>

		<div class="row">
		<a  class="button button-full button-positive bar-footer invest_button_footer"  href="#/page14/page15">Add Money<a>
		</div>
</div>
    </ion-content>
</ion-view>