<ion-view title="Invite" class="invite">
<div class="bar bar-header fino_head" ng-controller="popupController as popup">
<button class="button button-clear ion-android-arrow-back " ng-controller="goOneStep" ng-click="goOneStepback()"></button>
	<div class="h1 title"><p class="head_title"><span id="title">INVITE friends</span></p></div>
	<a class="button button-clear button-positive  ion-android-call" ng-click="showPopup()"></a>
</div>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
		<div class="rows text-center">
			<img src="img/invite_icon.png" alt="">
			<h3 class="slide3">Invite your friends</h3>
			<p>Did you enjoy watching your money grow? Spread the love. Invite now</p>
		</div>
	<div class="bar bar-footer row  padding " ng-controller="socialShareController">
	<a class="button button-full button-positive bar-footer invest_button_footer" ng-click="shareViaTwitter()" >Start Inviting</a>
	</div>
    </ion-content>
</ion-view>
