<ion-view title="Invite" class="invite">
<div class="bar bar-header fino_head" style="background-color:#18bb9c;height:55px;" ng-controller="popupController as popup">
  <div class="h1 title"><p style="color:white; text-align:center; font-size: 15px;">INVITE & EARN</p></div>
  <a class="button button-clear button-positive  ion-android-call" style="color:white; font-size:25px";ng-click="showPopup()"></a>
</div>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
		<div class="rows text-center">
			<img src="img/invite2.png">
			<h3 class="slide3">Invite your friends</h3>
			<p>Invite two of your friends and earn &#x20B9; 100 to your account.</p>
		</div>
	<div class="bar bar-footer row  padding ">
	<a class="button button-full button-positive bar-footer invest_button_footer" href="#/page14/page15" >Start Inviting</a>
	</div>
    </ion-content>
</ion-view>
