<ion-view title="Login" class="signin_background">
	<ion-content overflow-scroll="true" padding="true" class="has-header">
      <div class="row logo">
        <img src="img/logo_priv.png">
      </div>
	  
	  <div class="row col text-center">
        <p class="padding">Watch your Money Grow.</p>
      </div>
	  
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <input type="text" placeholder="Username or Phone number">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a href="#/page14/page15" class="button button-stable button-block ">LOGIN</a>
            <a href="#/page8" class="button button-positive button-clear button-block " style="text-transform:none;">Or create an account</a>
        </form>
    </ion-content>
</ion-view>