<ion-view cache-view="false" title="Login" class="signin_background">
	<ion-content overflow-scroll="true" padding="true" class="has-header2" ng-controller="AuthSigninCtrl">
      <div class="row logo">
        <img src="img/logo_priv.png">
      </div>

	  <div class="row col text-center" >
        <p class="padding">Watch Your Money Grow</p>
      </div>
<form name="authorizationForm" novalidate="" ng-submit="signIn(authorizationForm)">
	<div class="list">
		<div  class="error" >
			<div ng-show="serverError">  {{'credentialsInvalid' | translate}} </div>
			<div ng-show="passwordError">  {{'passwordInvalid' | translate}} </div>
		</div>
		<label class="item item-input" ng-class="{ 'has-errors' : authorizationForm.mobile.$touched && authorizationForm.mobile.$invalid, 'no-errors' :  authorizationForm.mobile.$touched && authorizationForm.mobile.$valid}">
			<input type="number" name="mobile" ng-model="mobileNumber"  maxlength="10" ng-minlength="10" ng-maxlength="10" ng-pattern="/^[0-9]{1,10}$/" required placeholder="{{'mobileNo' | translate}}" step="1">
		</label>
		<div class="error-container" ng-show="authorizationForm.mobile.$error && authorizationForm.$submitted" ng-messages="authorizationForm.mobile.$error">
			<div  class="error" >

				<div ng-message="required">{{'fieldEmpty' | translate}}</div>
				<div ng-message="minlength, maxlength">
					{{'mobileLength' | translate}}
				</div>
				<div  ng-message="step, pattern">
					{{'mobileInvalid' | translate}}
				</div>

			</div>
		</div>
		<div class="error-container" ng-hide="authorizationForm.mobile.$error && authorizationForm.$submitted">
			<div  class="error" ng-show="message" >
					{{'resetPinError' | translate}}
			</div>
		</div>
		<label class="item item-input" ng-class="{ 'has-errors' : authorizationForm.password.$invalid && authorizationForm.$submitted, 'no-errors' : authorizationForm.password.$valid  && authorizationForm.$submitted}">
			<input type="password" name="password" ng-pattern="/^[0-9]{1,4}$/" ng-model="digitPin" maxlength="4" ng-minlength="4" ng-maxlength="4" required placeholder="{{'passwordLength' | translate}}" >
		</label>
		<p class="text-right forgot_pin" ng-click="forgotPin(authorizationForm.mobile)"translate="BUTTON_LANG_FORGOT"></p>
		<div class="error-container last-error-container" ng-show="authorizationForm.password.$error && authorizationForm.$submitted" ng-messages="authorizationForm.password.$error">
			<div  class="error" >
				<div ng-message="required">
					{{'fieldEmpty' | translate}}
				</div>
				<div ng-message="minlength, maxlength">
					{{'passwordLength' | translate}}
				</div>
				<div ng-message="pattern">{{'digitsOnly' | translate}}</div>
			</div>
		</div>
	<label class="row rememberme">
			<input ng-model="rememberMe" type="checkbox" ng-init="rememberMe=true" id="remember_me" style="margin: 4px;"><label id="remember_me_label" for="remember_me" >{{'rememberMe' | translate}}</label>
	</label>
	</div>
	<button ion-track-tap="login" class="button button-full button-positive" type="submit">
		<i class="icon ion-locked secure_lock"></i><span  translate="BUTTON_LANG_EN"></span>
		<a class='clear'data-ng-click="authorization.password = ''"></a>
	</button>
	<a href="#page8" class="button button-positive button-clear button-block create_acc_btn " translate="BUTTON_LANG_SIGNUP"></a>
	<div  class="agree_terms" ng-controller="FundsMethodCtrl">
		<span class="check_agree item-checkbox item_checkbox">By clicking Login, I agree to <span class="inappLinks" ng-click="terms()"> T & C</span> and <span  class="inappLinks" ng-click="policy()">Privacy Policy.</span> For queries please contact us at support@finozen.com</span>
	</div>
</form>
		

 <!--
		<button  ng-controller="referralCtrl" class="button button-positive" ng-click="openC()" style="margin:1px;line-height: 44px;">Contacts</button>
 	




	<button onclick="window.plugins.socialsharing.shareViaWhatsApp('Message via WhatsApp', null , null , function() {console.log('share ok')}, function(errormsg){alert(errormsg)})">msg via WhatsAp</button>
		<button onclick="window.plugins.socialsharing.shareViaWhatsAppToReceiver(9949899497, 'Message via WhatsApp', null , null , function() {console.log('share ok')})">msg via WhatsApp</button>
		<button onclick="cordova.InAppBrowser.open('https://google.com', '_self', 'location=yes')">inApp</button>

<div ng-controller="openBrowser">
      <button class = "button" ng-click = "openBrowser()">OPEN BROWSER</button>

 <button class = "button" ng-click = "closeBrowser()">Close BROWSER</button>
    </div>
<button ng-controller="signupCtrl" ng-click="terms()">click</button>-->
   </ion-content>
</ion-view>
