<ion-view title="Login" class="signin_background">
	<ion-content overflow-scroll="true" padding="true" class="has-header">
      <div class="row logo">
        <img src="img/logo_priv.png">
      </div>
	  
	  <div class="row col text-center">
        <p class="padding">Watch Your Money Grow</p>
      </div>
	  
        <form class="list" name="myForm">
            <ion-list>
                <label class="item item-input">
                    <input name="myName" ng-model="myName" required type="number" placeholder="Mobile Number" maxlength ="10" minlength ="10" min="7000000000" max="9999999999">
                </label>
				<div class="error" ng-show="myForm.myName.$touched && myForm.myName.$invalid">Enter Valid mobile number</div>
                <label class="item item-input">
                    <input type="password" placeholder="4 digit PIN" maxlength ="4">
                </label><p class="text-right forgot_pin"><a href="#/forgot_pin">Forgot PIN?</a></p>
                <input type="checkbox" checked><span>
                    <span class="check_agree item-checkbox item_checkbox">I agree to <a href="#" onclick="window.open('http://www.finotrust.com/documents/T&C.pdf', '_system', 'location=yes'); return false;" >T & C</a> and <a href="#/privacy" >Privacy Policy</a></span></span>
            </ion-list>
            <a href="#/page14/page15" class="button button-stable button-block "><p><i class="icon ion-locked secure_lock"></i>Secure Login</p></a>
            <a href="#/page8" class="button button-positive button-clear button-block create_acc_btn ">Or create an account</a>
        </form>
    </ion-content>
</ion-view>