
<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle=""></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" class="screen_sidemenu">
        <ion-header-bar class="bar-primary">
		<div class="row title account_block bar-subheader">
          <div class="col-20"><img src="img/account-image.png"></div>
          <div class="col-70">
            <p>Rachna Gothi</p> 
            <p>rachna.gothi@gmail.com</p>
        </div>        
        </div>
			
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header" <="" ion-content="">
            <ion-list class="menulist">
                 <ion-item nav-clear menu-close  href="#/account" menu-close=""><i class="icon ion-android-person"></i>Account </ion-item>
                 <ion-item nav-clear menu-close  href="#/privacy" menu-close=""><i class="icon ion-android-lock"></i>Privacy Policy</ion-item>
                 <ion-item nav-clear menu-close  href="#/faq" menu-close=""><i class="icon ion-android-microphone"></i>Faq</ion-item>
                 <ion-item nav-clear menu-close  href="#/sidemenu" menu-close=""><i class="icon ion-android-mail" style="font-size: 13.5px;"></i>Contact Us</ion-item>
                 <ion-item nav-clear menu-close  href="#/side-menu21/page7" menu-close=""><i class="icon ion-power" style="font-size: 14px;"></i>Sign Out</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
