<ion-view title="MUTUAL FUNDS">

<div class="bar bar-header fino_head" ng-controller="popupController as popup">
	<a class="button button-clear ion-android-arrow-back " ng-controller="goOneStep" ng-click="goOneStepback()"></a>
	<div class="h1 title"><p class="head_title"><span id="title">MUTUAL FUNDS</span></p></div>
	<a class="button button-clear button-positive  ion-android-call" ng-click="showPopup()"></a>
</div>
    <ion-content overflow-scroll="false" padding="true" class="has-header payment_success">
		<div class="padding" ng-controller="schemeText">
			<div class="list">
			  <div class="item_success" >
				<h4 class="text-center">{{schemeName}}</h4>
				<p class="">{{schemeBody}} </p></i>
			  </div>
			  <div class="selectedFund" >
				<table>
					<thead>
						<th>Time Period*</th>
						<th>Annualized Returns</th>
					</thead>
					<tr>
						<td>1 Month</td>
						<td>{{returnsOneM}}</td>
					</tr>
					<tr>
						<td>3 Month</td>
						<td>{{returnsThreeM}}</td>
					</tr>
					<tr>
						<td>1 Year</td>
						<td>{{returnsOneY}}</td>
					</tr>
					<tr>
						<td>3 Year</td>
						<td>{{returnsThreeY}}</td>
					</tr>
					<tr>
						<td>5 Year</td>
						<td>{{returnsFiveY}}</td>
					</tr>
				</table>
			  </div>
			  <p><b>Current AUM:</b>{{currentAUM}}</p>
			  <p><b>Tax Benefit: </b>{{TaxBenifits}}</p>
			  <p><b><a ng-href={{schemeLink}}>Click here</a></b>  {{schemeLinkText}}</p>
			<p><sup>* As of April 2016</sup></p>
			  </div>
			
		</div>		
    </ion-content>
</ion-view>
