<ion-view title="PAN">
<div class="bar bar-header fino_head">
<button class="button button-clear ion-android-arrow-back " ng-controller="goOneStep" ng-click="goOneStepbacktoAddress()"></button>
  <div class="h1 title"><p class="head_title"><span id="title">PAN CARD IMAGE</span></p></div>
  <a class="button button-clear button-positive  ion-android-call" ng-href="tel:09206073021"></a>
</div>
	<ion-content overflow-scroll="true" padding="true" class="has-header" ng-controller="panImageCTRL" >


		<div class="panimageSection text-center">
		<p style="padding: 26px 0;"><b>Step: 1/3 </b>Please take an image of the front of your PAN card</p>
			<div class="panimage">
			<img ng-show="cimage1 !== undefined" ng-src="{{cimage1}} " id="target">
			<img ng-show="cimage1 === undefined" src="img/Pancard.jpg "  >
			</div>
			<p ng-show="cimage1 === undefined">Please ensure that uploaded image is similar to sample. This will ensure clarity of images required for KYC</p>
		<div class="text-center">
		<button class="button button-positive" ng-click="takeit1(0)" ng-show="cimage1 === undefined">Upload Image</button>
		<button class="button button-positive" ng-click="takeit1(1)" ng-show="cimage1 === undefined">Take Image</button>
		<button class="button button-positive" ng-click="takeit1(retake())" ng-show="cimage1 !== undefined">{{otherSrc()}}</button>
		<button class="button button-positive" ng-click="takeit1(imgType)" ng-show="cimage1 !== undefined">{{reload}}</button>
		</div>
		</div>
<ion-footer-bar padding="false" style="padding:0;">
	<div class="button-bar " style="padding:0;">
		<button class="button button-positive" ng-click="selfieGo()"  ng-disable="diasbleSkip" style="margin:1px;line-height: 44px;">SKIP</button>
		<button class="button button-positive"  ng-click="PanImage()" style="margin:1px;line-height: 44px;"  ng-disabled="!cimage1">SUBMIT</button>
	</div>
</ion-footer-bar>
    </ion-content>

</ion-view><use xlink:href="#save"></use>