<ion-view title="Payment successful">

<div class="bar bar-header fino_head" ng-controller="popupController as popup">
	<a class="button button-clear ion-android-arrow-back " ng-controller="panVerifyCtrl"  ng-click="withdrawSuccess()"></a>
	<div class="h1 title"><p class="head_title"><span id="title"><span translate="statusHead"></span></span></p></div>
	<a class="button button-clear button-positive  ion-android-call" ng-click="showPopup()"></a>
</div>
    <ion-content overflow-scroll="false" padding="true" class="has-header payment_success">
		<div class="payment padding">

			<div class="list">
			  <div class="item_success text-center" >
				<p class="status"><span translate="statusRequest"></span></p></i>
			 </div>
			  <div class="success_block" >
				<div class="inner_block text-center">
				<h4 class="message"><span translate="statusThanks"></span><br/></h4>
	<p class="scheduled_text"> <span translate="paymentSuccess1"></span></p>
	<!--<p class="scheduled_text"><span translate="paymentSuccess2"></span></p>-->
	<p class="scheduled_text">For insta withdrawal, amount will be credited within 30 minutes. For any other amount, schedule as below</span></p>
	<div class="row deposit_table" >
	<!--	<p><br/>
		
		Withdraw Sun - Thur, before 2 p.m.: Money will be deposited in your Bank account next day by 10 a.m.<br/>
		
		Withdraw Sun - Thur after 2 p.m.: Money will be deposited in your Bank account day after next by 10 a.m.<br/>
		
		Withdraw Fri - Sat: Money will be deposited in your Bank account on Monday by 10 a.m.<br/>
		<br/></p>-->
		<table>
			<thead>
				<th translate="Withdrawal"></th>
				<th translate="deposit"></th>
			</thead>
			<tr>
				<td>Mon - Thur, <span translate="withdrawlTimeBefore"></span></td>
				<td><span translate="dayAfter"></span> 10 a.m.</td>
			</tr>
			<tr>
				<td>Mon - Thur, <span translate="withdrawlTimeAfter"></span>.</td>
				<td><span translate="dayAfterNext"></span> 10 a.m.</td>
			</tr>
			<tr>
				<td>Fri <span translate="withdrawlTimeBefore"></span></td>
				<td>Monday 10 a.m.</td>
			</tr>
			<tr>
				<td>Fri <span translate="withdrawlTimeAfter"></span>, Sat <span translate="andText"></span> Sun.</td>
				<td>Tuesday 10 a.m.</td>
			</tr>
		</table>


		
		</div>

		<p class="small_text"><span translate="paymentSuccess3"></span></p>
				<button class="button button-positive" ng-controller="panVerifyCtrl"  ng-click="withdrawSuccess()"><span translate="paymentSuccessDone"></span></button>
				</div>
			 </div>
			</div>
			
		</div>		
    </ion-content>
</ion-view>
