<ion-view title="post_verification" class="verification">
<div class="bar bar-header fino_head" style="background-color:#18bb9c;height:55px;">
  <div class="h1 title"><p style="color:#212121; text-align:center; font-size: 15px;">DETAILS VERIFIED</p></div>
  <button class="button button-clear button-positive  ion-android-call" style="color:white; font-size:25px;"></button>
</div>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
		<div class="rows">
			<img src="img/verified.png" />
			<h3 class="slide3">Thank you</h3>
			<p>You can start investing now.</p>
			<p>Your information is highly secure with us.</p>
		</div>
<div class="bar bar-footer row  padding ">
<a class="button button-full button-positive bar-footer invest_button_footer" href="#/page14/page15" >Start Investing</a>
</div>
    </ion-content>
</ion-view>