<ion-view title="pre_verification" class="verification">
<div class="bar bar-header fino_head" style="background-color:#18bb9c;height:55px;" ng-controller="popupController as popup">
  <div class="h1 title"><p style="text-align:center; font-size: 15px; margin:0;">VERIFYING YOUR DETAILS</p></div>
  <a class="button button-clear button-positive  ion-android-call" style="color:white; font-size:25px;" ng-click="showPopup()"></a>
</div>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
		<div class="rows text-center">
			<img src="img/verify.png" />
			<h3 class="slide3">Thank you for Signing up</h3>
			<p class="padding">We’ll call and set up a time to come and collect documents from you to open your account at FinoZen.</p>
			<p class="padding">At FinoZen, you can invest and withdraw your money anytime while your money grows at an annualized rate of 7.5 – 8.5% .</p>
		</div>
    </ion-content>

<ion-footer-bar padding="false">
	<div class="button-bar " style="padding:0;">
		<a href="#/sliders" class="button button-positive" style="margin:1px;line-height: 44px;" >know more</a>
		<a href="#/tour" class="button button-positive" style="margin:1px; line-height: 44px;" >start investing</a>
	</div>
</ion-footer-bar>
</ion-view>
