<ion-view title="pre_verification" class="verification">
<div class="bar bar-header fino_head" ng-controller="popupController as popup">
	<div class="h1 title"><p class="head_title"><span id="title">ACCOUNT ACTIVATION</span></p></div>
	<a class="button button-clear button-positive  ion-android-call" ng-click="showPopup()"></a>
</div>
    <ion-content overflow-scroll="true" padding="false" class="has-header">
		<div class="container">
			<div class="rows"><img src="img/step1.jpg" class="steps"></div>
			<div class="rows padding">
				<p >we will contact you shortly for an appointment for your biometric KYC</p>
			</div>
		</div>
		<!--<button class="button button-block" ng-controller="HomeCtrl" ng-click="showToast()">Show Toast at top with close</button>-->
    </ion-content>

<ion-footer-bar padding="false">
	<div class="button-bar " style="padding:0;">
		<a href="#/sliders" class="button button-positive" style="margin:1px;line-height: 44px;" >know more</a>
		<a href="#/tour" class="button button-positive" style="margin:1px; line-height: 44px;" >start investing</a>
	</div>
</ion-footer-bar>
</ion-view>
