<ion-view title="pre_verification" class="verification">
<div class="bar bar-header fino_head" style="height:55px;">
  <div class="h1 title"><p style="color:#212121; text-align:center; font-size: 15px;">VERIFYING YOUR DETAILS</p></div>
  <button class="button button-clear button-positive  ion-android-call" style="color:#18BB9C; font-size:25px;"></button>
</div>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
		<div class="rows text-center">
			<img src="img/verify.png" />
			<h3 class="slide3">Thank you for Signing up</h3>
			<p class="padding">At FinoZen, you can invest and grow your money rapidly at a rate of 8.5% which is relatively very high compared to others</p>
		</div>
    </ion-content>

<ion-footer-bar padding="false">
	<div class="button-bar " style="padding:0;">
		<a href="#/sliders" class="button button-positive" style="margin:1px;line-height: 44px;" >know more</a>
		<a href="#/tour" class="button button-positive" style="margin:1px; line-height: 44px;" >start investing</a>
	</div>
</ion-footer-bar>
</ion-view>