<ion-view title="CONFIRM" ng-controller="questionsCTRL">
<div class="bar bar-header fino_head">
<button class="button button-clear ion-android-arrow-back " ng-controller="goOneStep" ng-click="goOneStepback()"></button>
  <div class="h1 title"><p class="head_title"><span id="title">ADDITIONAL DETAILS</span></p></div>
  <a class="button button-clear button-positive  ion-android-call" ng-href="tel:080-41245883"></a>
</div>
	<ion-content overflow-scroll="true" padding="false" class="has-header" >
<div class="">
<br/><br/>
<p class="text-left padding"><b>Step: 5/5 </b>YOU ARE ALMOST DONE!</p>
<!--
<label for="income" class="row questions">
<span class="col-40"></span>
	<select name="income" class="col-50">
		
	</select>
	<br/>
</label>
<div class="row questions">
<span class="col-40"></span>
	<select name="occ" class="col-50">
		
	</select>
	<br/>
</div>
<div class="row questions">
<span class="col-40"><span style="color: #18bb9c; font-size: 12px;" class="button-icon ion-information-circled"  ng-controller="PEPpopOverController" ng-click="popover.show($event)"> </span></span>
	<select name="pep" class="col-50">
		
	</select>
</div>
-->
<div class = "list questionsSelect">
   <label class = "item item-input item-select item-light">
      <div class = "input-label">
         1) Gross Annual Income
      </div>
		
      <select ng-model="clientIncome">
         <option value="31"> Below 1 Lakh</option>
		 <option value="32">1 - 5 Lakh</option>
		 <option value="33" ng-selected="true">5 - 10 Lakh</option>
		 <option value="34">10 - 25 Lakh</option>
		 <option value="35">25 Lakh – 1 Cr</option>
		 <option value="36">Above 1 Cr</option>
      </select>
		
   </label>

   <label class = "item item-input item-select item-light">
      <div class = "input-label">
         2) Occupation
      </div>
		
      <select ng-model="clientOccupation">
        <option value="Business_new">Business</option>
		<option value="Professional_new">Professional</option>
		<option value="Service_new">Public Sector</option>
		<option value="Professional_new" ng-selected="true">Private Sector</option>
		<option value="Service_new">Government Service</option>
		<option value="Farmer_new">Agriculturist</option>
		<option value="Household_new">Housewife</option>
		<option value="Student_new">Student</option>
		<option value="Retired_new">Retired</option>
		<option value="Others_new">Forex Dealer</option>
		<option value="Others_new">Others</option>
      </select>
   </label>

   <label class = "item item-input item-select item-light">
      <div class = "input-label">
         3) Political Exposure 
		 <!--<span style="color: #18bb9c; font-size: 12px;" class="button-icon ion-information-circled"  ng-controller="PEPpopOverController" ng-click="popover.show($event)"> </span>-->
      </div>
		
      <select ng-model="clientPEP">
        <option value="N" ng-selected="true">Not Applicable</option>
		<option value="Y">Politically Exposed Person</option>
		<option value="R">Related to Politically Exposed Person</option>
      </select>
   </label>

</div>
<!--
<div class="row questions">
<span class="col-40">Residential status</span>
	<select class="col-50">
		<option>Resident Individual</option>
		<option>Non – Resident Individual</option>
		<option>Foreign Portfolio Investor – Category III</option>
		<option>Foreign National</option>
		<option>Qualified Foreign Investor</option>
	</select>
</div>-->
<!--<div class="footer" ng-controller="panVerifyCtrl">-->
<p style="padding: 26px 10px; text-align:left;font-size: 12px;"><sup>*By clicking on submit I agree that I am an Indian PAN card holder and a resident individual.</sup>.</p>
</div>
    </ion-content>
<ion-footer-bar padding="false" style="padding:0;">
	<div class="button-bar " style="padding:0;">
		<button class="button button-positive" ng-click="question()" style="margin:1px;line-height: 44px;">SKIP</button>
		<button class="button button-positive" ng-click="questionUpload()" style="margin:1px;line-height: 44px;">SUBMIT</button>
	</div>
</ion-footer-bar>
</ion-view>