<ion-view title="CONFIRM">
<div class="bar bar-header fino_head">
<button class="button button-clear ion-android-arrow-back " ng-controller="goOneStep" ng-click="goOneStepback()"></button>
  <div class="h1 title"><p class="head_title"><span id="title">ADDITIONAL DETAILS</span></p></div>
  <a class="button button-clear button-positive  ion-android-call" ng-href="tel:080-41245883"></a>
</div>
	<ion-content overflow-scroll="true" padding="false" class="has-header">
<div class="">
<br/><br/>
<p class="text-left padding"><b>Step: 6/6 </b>YOU ARE ALMOST DONE!</p>
<!--
<label for="income" class="row questions">
<span class="col-40"></span>
	<select name="income" class="col-50">
		
	</select>
	<br/>
</label>
<div class="row questions">
<span class="col-40"></span>
	<select name="occ" class="col-50">
		
	</select>
	<br/>
</div>
<div class="row questions">
<span class="col-40"><span style="color: #18bb9c; font-size: 12px;" class="button-icon ion-information-circled"  ng-controller="PEPpopOverController" ng-click="popover.show($event)"> </span></span>
	<select name="pep" class="col-50">
		
	</select>
</div>
-->
<div class = "list questionsSelect">
   <label class = "item item-input item-select item-light">
      <div class = "input-label">
         1) Gross Annual Income
      </div>
		
      <select>
         <option value="1"> Below 1 Lakh</option>
		 <option value="oneToFive">1 - 5 Lakh</option>
		 <option value="fiveToTen" ng-selected="true">5 - 10 Lakh</option>
		 <option value="tenToTwentyfive">10 - 25 Lakh</option>
		 <option value="TwentyfiveToOne">25 Lakh – 1 Cr</option>
		 <option value="aboveOne">Above 1 Cr</option>
      </select>
		
   </label>

   <label class = "item item-input item-select item-light">
      <div class = "input-label">
         2) Occupation
      </div>
		
      <select>
         <option>Business</option>
		<option>Professional</option>
		<option>Public Sector</option>
		<option ng-selected="true">Private Sector</option>
		<option>Government Service</option>
		<option>Agriculturist</option>
		<option>Housewife</option>
		<option>Student</option>
		<option>Retired</option>
		<option>Forex Dealer</option>
		<option>Others</option>
      </select>
   </label>

   <label class = "item item-input item-select item-light">
      <div class = "input-label">
         3) Political Exposure 
		 <!--<span style="color: #18bb9c; font-size: 12px;" class="button-icon ion-information-circled"  ng-controller="PEPpopOverController" ng-click="popover.show($event)"> </span>-->
      </div>
		
      <select ng-model="pep">
        <option value="no" ng-selected="true">Not Applicable</option>
		<option value="yes">Politically Exposed Person</option>
		<option value="Related">Related to Politically Exposed Person</option>
      </select>
   </label>

</div>
<!--
<div class="row questions">
<span class="col-40">Residential status</span>
	<select class="col-50">
		<option>Resident Individual</option>
		<option>Non – Resident Individual</option>
		<option>Foreign Portfolio Investor – Category III</option>
		<option>Foreign National</option>
		<option>Qualified Foreign Investor</option>
	</select>
</div>-->
<!--<div class="footer" ng-controller="panVerifyCtrl">-->
<p style="padding: 26px 10px; text-align:left;font-size: 12px;"><sup>*By clicking on submit I agree that I am an Indian PAN card holder and a resident individual.</sup>.</p>
</div>
    </ion-content>
<ion-footer-bar padding="false" style="padding:0;">
	<div class="button-bar " style="padding:0;" ng-controller="panVerifyCtrl">
		<button class="button button-positive" ng-click="question()" style="margin:1px;line-height: 44px;">SKIP</button>
		<button class="button button-positive" ng-click="question()" style="margin:1px;line-height: 44px;">SUBMIT</button>
	</div>
</ion-footer-bar>
</ion-view>