<ion-view title="CONFIRM" ng-controller="questionsCTRL">
<div class="bar bar-header fino_head">
<button class="button button-clear ion-android-arrow-back " ng-controller="goOneStep" ng-disabled="true" ng-click="goOneStepbacktoAddress()"></button>
  <div class="h1 title"><p class="head_title"><span id="title">PERSONAL DETAILS</span></p></div>
  <a class="button button-clear button-positive  ion-android-call" ng-href="tel:09206073021"></a>
</div>
<ion-content overflow-scroll="true" padding="false" class="has-header" >
<form name="fatcaForm" novalidate="" ng-submit="questionUpload(fatcaForm)"><br/>
<div style="overflow: scroll;height: 81vh;">
	<div class = "list questionsSelect">	
		<div class="error-container" ng-show="fatcaForm.clientMother.$error && fatcaForm.$submitted" ng-messages="fatcaForm.clientMother.$error">
			<div  class="error" >

				<div ng-message="required">{{'fieldEmpty' | translate}}</div>
			</div>
		</div>
		<label class="item item-input dobInput item-light" ng-class="{ 'has-errors' : fatcaForm.clientMother.$touched && fatcaForm.clientMother.$invalid, 'no-errors' :  fatcaForm.clientMother.$touched && fatcaForm.clientMother.$valid}">
			<div class = "input-label">
				 1) Mother's name
			  </div>
			<input type="text" name="clientMother" ng-model="clientMotherNumber"   required placeholder="" >
		</label>
		<label class = "item item-input dobInput item-light">
		  <div class = "input-label">
			 2) Date of Birth
			 <!--<span style="color: #18bb9c; font-size: 12px;" class="button-icon ion-information-circled"  ng-controller="PEPpopOverController" ng-click="popover.show($event)"> </span>-->
		  </div>
		<button type="button" ng-click="openDatePicker()" ng-model='clientDOB' >{{selectedDate | date:'dd MMM yyyy'}}</button>
		</label>
   <label class = "item item-input dobInput item-light">
      <div class = "input-label">
         3) Place of Birth
		 <!--<span style="color: #18bb9c; font-size: 12px;" class="button-icon ion-information-circled"  ng-controller="PEPpopOverController" ng-click="popover.show($event)"> </span>-->
      </div>
	<input type="text" ng-model='clientPOB' required>
   </label> 
   <label class = "item item-input item-select item-light">
      <div class = "input-label">
         4) Country of Birth
		 <!--<span style="color: #18bb9c; font-size: 12px;" class="button-icon ion-information-circled"  ng-controller="PEPpopOverController" ng-click="popover.show($event)"> </span>-->
      </div>
	<select ng-model='clientCountry.type' required ng-options='option.value as option.name for option in countryOptions'></select>
   </label> 
   <label class = "item item-input item-select item-light">
      <div class = "input-label">
         5) Address Type
		 <!--<span style="color: #18bb9c; font-size: 12px;" class="button-icon ion-information-circled"  ng-controller="PEPpopOverController" ng-click="popover.show($event)"> </span>-->
      </div>
	<select ng-model='clientAddressType.type' required ng-options='option.value as option.name for option in addressTypeOptions'></select>
   </label>
   <label class = "item item-input item-select item-light">
      <div class = "input-label">
         6) Gross Annual Income
      </div>
	  <select ng-model='clientIncome.type' required ng-options='option.value as option.name for option in clientIncomeOptions'></select>		
   </label>

   <label class = "item item-input item-select item-light">
      <div class = "input-label">
         7) Occupation
      </div>
		<select ng-model='clientOccupation.type' required ng-options='option.value as option.name for option in clientOccupationOptions'></select>
   </label> 
	<label class = "item item-input item-select item-light">
      <div class = "input-label">
         8) Source of Wealth
		 <!--<span style="color: #18bb9c; font-size: 12px;" class="button-icon ion-information-circled"  ng-controller="PEPpopOverController" ng-click="popover.show($event)"> </span>-->
      </div>
	<select ng-model='clientSOW.type' required ng-options='option.value as option.name for option in SOWOptions'></select>
   </label>

   <label class = "item item-input item-select item-light">
      <div class = "input-label">
         9) Country of Tax Residency
		 <!--<span style="color: #18bb9c; font-size: 12px;" class="button-icon ion-information-circled"  ng-controller="PEPpopOverController" ng-click="popover.show($event)"> </span>-->
      </div>
	<select ng-model='taxRes.type' required ng-options='option.value as option.name for option in countryOptions'></select>
   </label>
   <label class = "item item-input item-select item-light">
      <div class = "input-label">
         10) Marital Status
		 <!--<span style="color: #18bb9c; font-size: 12px;" class="button-icon ion-information-circled"  ng-controller="PEPpopOverController" ng-click="popover.show($event)"> </span>-->
      </div>
	<select ng-model='marriageStatus.type' required ng-options='option.value as option.name for option in marriageStatusOptions'></select>
   </label>
   <label class = "item item-input item-select item-light">
      <div class = "input-label">
         11) Political Exposure*
		 <!--<span style="color: #18bb9c; font-size: 12px;" class="button-icon ion-information-circled"  ng-controller="PEPpopOverController" ng-click="popover.show($event)"> </span>-->
      </div>
	<select ng-model='clientPEP.type' required ng-options='option.value as option.name for option in clientPEPOptions'></select>
   </label>
   <label class = "item item-input item-select item-light">
      <div class = "input-label">
         12) Nationality
		 <!--<span style="color: #18bb9c; font-size: 12px;" class="button-icon ion-information-circled"  ng-controller="PEPpopOverController" ng-click="popover.show($event)"> </span>-->
      </div>
	<select ng-model='clientNationality.type' required ng-options='option.value as option.name for option in nationalityOptions'></select>
   </label>
</div>

<p style="padding: 22px 10px 0px; text-align:left;font-size: 12px;"><sup>*Politically exposed person is an indivdual who is or has been entrusted with a prominent public function e.g. Heads of State or of Governments,Senior Politicans etc.</sup></p>
<p style="padding: 2px 10px 5px; text-align:left;font-size: 12px;"><sup>By clicking on submit I agree that I am an Indian PAN card holder and a resident individual.</sup></p>

</div>
<ion-footer-bar padding="false" class="footerQuestion" style="padding:0;">
	<div class="button-bar " style="padding:0;">
		<button class="button button-positive" ng-click="question()" ng-disabled="true"  style="margin:1px;line-height: 44px;">SKIP</button>
		<button class="button button-positive" type="submit" style="margin:1px;line-height: 44px;">SUBMIT</button>
	</div>
</ion-footer-bar>
</form>
<!--



	<button onclick="window.plugins.socialsharing.shareViaWhatsApp('Message via WhatsApp', null , null , function() {console.log('share ok')}, function(errormsg){alert(errormsg)})">msg via WhatsAp</button>
		<button onclick="window.plugins.socialsharing.shareViaWhatsAppToReceiver(9949899497, 'Message via WhatsApp', null , null , function() {console.log('share ok')})">msg via WhatsApp</button>
		<button onclick="cordova.InAppBrowser.open('https://google.com', '_self', 'location=yes')">inApp</button>

<div ng-controller="openBrowser">
      <button class = "button" ng-click = "openBrowser()">OPEN BROWSER</button>

 <button class = "button" ng-click = "closeBrowser()">Close BROWSER</button>
    </div>
<button ng-controller="signupCtrl" ng-click="terms()">click</button>-->
   </ion-content>
</ion-view>
