<ion-view cache-view="false" title="Recent Transactions">
<span ng-controller="showhistoryController"></span>
<ion-content  has-bouncing="true"  scrollbar-y="false" ng-controller="transListController as listControl">

  <ion-refresher on-refresh="doRefresh()">    </ion-refresher>

<div class="list recent_transactions" >
  <div class="item item-avatar item-icon-right in in done done" ng-repeat="lists in products | orderBy:'-orderId'" ng-class="{'lastItem': $last}">
	<p class="success {{lists.txnTypeStr}}"><span>&#x20B9;</span> {{lists.amount|currency :"":2}}</p>
	<span class="item-note right">{{'TranscationID' | translate}}: {{ lists.orderId}}</span><br/>
	<span class="item-note left">{{lists.txnDate}} </span>
	<i class="icon ion-ios-checkmark-outline payment"></i>
  </div>
  <div class="noTxn" ng-show="noTxnIcon"><p>{{'noTxnMsg1'| translate}}<br/>{{'noTxnMsg12' | translate}} <img ng-src="{{noTxnIcon}}"></p>
  </div>
</div>
</ion-content>
</ion-view>
