<ion-view title="Recent Transactions">
<div class="bar bar-header fino_head" style="background-color:#18bb9c;height:55px;">
  <button class="button button-clear button-positive   ion-navicon " style="color:white; font-size:30px;"></button>
  <div class="h1 title"><p>FINOZEN</p></div>
  <button class="button button-clear button-positive  ion-android-call" style="color:white; font-size:25px;"></button>
</div>
    <ion-content overflow-scroll="false" padding="false" class="has-header">
<div class="list">
  <div class="item item-icon-right">
  <i class="icon ion-ios-checkmark-outline payment"></i>
    <p class="success">Rs. 25,000.00</p>
	<span class="item-note">Transaction Id: 12545</span><br/>
	<span class="item-note">Mon, 25 Jan, 2016</span>
  </div>
  <div class="item item-icon-right">
  <i class="icon ion-ios-checkmark-outline payment"></i>
    <p class="success">Rs. 15,000.00</p>
	<span class="item-note">Transaction Id: 12545</span><br/>
	<span class="item-note">Mon, 25 Jan, 2016</span>
  </div>
  <div class="item item-icon-right">
  <i class="icon ion-ios-close-outline payment"></i>
    <p class="failed">Rs. 5,000.00</p>
	<span class="item-note right">Transaction Id: 12545</span><br/>
	<span class="item-note left">Mon, 25 Jan, 2016</span>
  </div>
  
</div>
	</ion-content>
<div class="bar bar-footer row invest_button_footer">
  <div class="col invest_button"><img src="img/minus.png"></div>
  <div class="col invest_button"><img src="img/plus.png"></div>
</div>
</ion-view>