<ion-view title="pre_verification" class="verification">
<div class="bar bar-header fino_head" ng-controller="popupController as popup">
	<button class="button button-clear ion-android-arrow-back " ng-controller="goOneStep" ng-click="goOneStepback()"></button>
	<div class="h1 title"><p class="head_title"><span id="title">ACTIVATION</span></p></div>
	<a class="button button-clear button-positive  ion-android-call" ng-click="showPopup()"></a>
</div>
  <span ng-controller="showhistoryController"></span>
    <ion-content overflow-scroll="true" padding="false" class="has-header">
		<div class="container statusPage">
			<div class="rows"><img src="img/step1.jpg" class="steps"></div>
			<div class="rows padding">
				<p >You will now need to activate your account. Please keep the following documents ready</p>
			</div>
			<hr/>
			<div class="rows padding">
				<span class="custom_bullets">1</span><p >PAN card</p><br/>
				<span class="custom_bullets">2</span><p >Address Proof</p><br/>
				<span class="custom_bullets">3</span><p >Net banking enabled Bank Account No.</p><br/>
				<span class="custom_bullets">4</span><p >IFSC code of your bank account</p>
			</div>
			<hr/>
		</div>
    </ion-content>

<ion-footer-bar padding="false">
	<div class="button-bar " style="padding:0;">
		<a href="#/sliders" class="button button-positive" style="margin:1px;line-height: 44px;" >not now</a>
		<a href="#/panImage" class="button button-positive" style="margin:1px; line-height: 44px;" >Activate Account</a>
	</div>
</ion-footer-bar>
</ion-view>
