<ion-view class="sliders">
<ion-slide-box  class="text-center slides">

   <ion-slide on-swipe-right="goBack()" on-swipe-left="goForward()">
      <div class = "rows box box1">
<img src="img/1.png" />
			<h3 class="slide1">Watch your money grow</h3>
			<p class="padding">Your money is expected to grow at an annualized rate of 7.5 – 8.5%, you can see it growing everyday and withdraw anytime you want!</p>
			
      </div>
   </ion-slide>

   <ion-slide on-swipe-right="goBack()" on-swipe-left="goForward()">
      <div class = "rows box box2">
<img src="img/2.png" />
			<h3 class="slide2">Invest & withdraw @One Click</h3>
			<p class="padding">At FinoZen, we have made the entire process of investing extremely simple, now you can invest and withdraw almost instantaneously in One Click!</p>
			
      </div>
   </ion-slide>

   <ion-slide on-swipe-right="goBack()" on-swipe-left="goForward()">
      <div class = "rows box box3">
			<img src="img/3.png" />
			<h3 class="slide3">Your money is safe</h3>
			<p class="padding">At FinoZen, you’ll be investing in Fino selected best Liquid Mutual Fund which is extremely low risk. You can start investing with Rs. 100 and watch your money grow!</p>
	</div>
   </ion-slide>

   <ion-slide on-swipe-right="goBack()" on-swipe-left="goForward()">
      <div class = "rows box box4">
			<img src="img/4.png" />
			<h3 class="slide4">We're only a call away</h3>
			<p class="padding">You can chat with us or call us anytime from Monday to Saturday between 8 am to 8 pm, we’ll resolve all your queries within minutes!</p>
		<a href="#/tour" ><button class="col button button-positive text-center" style="color:009688; font-size:15px;">Start Investing</button></a>
      </div>
   </ion-slide>
</ion-slide-box>
<div class="row bar bar-footer" style="background:transparent;bottom:9px; left:10px ;">
		<a href="#/tour"><button class="col button button-clear button-positive text-left" style="color:009688; font-size:15px;">skip</button></a>
	</div>
</ion-view>



