<ion-view class="sliders" scrollbar-y="false">
<ion-slide-box  class="text-center slides" pager-click="true">

   <ion-slide>
      <div class = "rows box box1">
		<img src="img/finotree.png" style="margin: 10vh auto 20px;max-height:80px" />
		<h4 class="slide1">Don’t keep money idle in Bank Account</h4>
			<table class="relianceGrowth">
			<thead class="">
				<th></th>
				<th>FinoZen</th>
				<th>Bank Account</th>
			</thead>
			<tr class="">
				<td>Annual Interest Rate</td>
				<td>7%-9%+<sup>*</sup></td>
				<td>3%-6%</td>
			</tr>
			<tr class="">
				<td>Interest Credited</td>
				<td>Daily</td>
				<td>In 3, 6 or 12 Months</td>
			</tr>
			<tr class="">
				<td>Safety & Security</td>
				<td>High</td>
				<td>High</td>
			</tr>
			<tr class="">
				<td>Min Balance</td>
				<td>Rs. 500</td>
				<td>Rs. 1,000-30,000</td>
			</tr>
			<tr class="">
				<td>Withdrawal</td>
				<td>Instant</td>
				<td>Instant</td>
			</tr>
			<tr class="">
				<td>Account Opening</td>
				<td>3 Minutes, Paperless</td>
				<td>1-week- Paperwork required</td>
			</tr>
		</table><br/>	
<p class="text-left" style="padding: 2px 20px;"><sup><sup>*</sup>Based on scheme performance in FY 15-16</sup>	</p>	
	
      </div>
   </ion-slide>
   <ion-slide>
      <div class = "rows box box1">
			<img src="img/reliance.png" style="margin: 10vh auto 20px;max-height:80px" />
			<h4 class="slide1">Your money will be deposited in Reliance Money Manager Plan – Growth</h4>
				<ul class="outerList">
					<li>India's one of the largest mutual fund company</li>
					<li>Fund primarily invests in NCDs of public sector and AAA rated companies</li>
					<li>Consistent performance from last 15 years</li>
				</ul><br/>
				<p class="">Returns of Money Manager Fund*</p>
			<table class="relianceGrowth">
				<tr class="firstRow"><td>7.80%</td><td>9.04%</td><td>9.26%</td><td>8.77%</td><td>8.63%</td><td>8.88%</td></tr>
				<tr><td>30Days</td><td>90Days</td><td>180Days</td><td>270Days</td><td>365Days</td><td>3Years</td></tr>
			</table>
			<p class="text-left" style="padding: 10px 20px;"><sup><sup>*</sup>As of Sep – 2016</sup>	</p>	
      </div>
   </ion-slide>
   <ion-slide>
      <div class = "rows box box2">
			<img src="img/1.png" />
			<h3 class="slide1">Watch your money grow</h3>
			<p class="padding">Your money is expected to grow at an annualized rate of 7% to 9%<sup>*</sup>, you can see it growing everyday and withdraw instantly whenever you want! Your money is completely safe & secure.</p>
			<p class="text-left" style="padding: 2px 20px;"><sup><sup>*</sup>Based on scheme performance in FY 15-16</sup>	</p>
      </div>
   </ion-slide>
   <ion-slide>
		<div class = "rows box box4">
			<img src="img/4.png" />
			<h3 class="slide4">We're only a call away</h3>
			<p class="padding">You can chat with us or call us anytime from Monday to Saturday between 9 am to 9 pm, we’ll resolve all your queries within minutes!</p>
			<a href="#/questions" ><button class="col button button-positive text-center" style="color:#fff; font-size:15px;">Activate Now</button></a>
		</div>
   </ion-slide>
</ion-slide-box>
		<div class="row bar bar-footer" style="background:transparent;bottom:9px; left:10px ;">
			<a href="#/questions"><button class="col button button-clear button-positive text-left" style="color:#18bb9c; font-size:15px;">skip</button></a>
		</div>
</ion-view>



