<ion-view title="Status" class="FAQ">
<div class="bar bar-header fino_head" ng-controller="popupController as popup">
	<a class="button button-clear ion-android-arrow-back " href="#/page14/page15"></a>
	<div class="h1 title"><p class="head_title"><span id="title">STATUS</span></p></div>
	<a class="button button-clear button-positive  ion-android-call" ng-click="showPopup()"></a>
</div>
    <ion-content overflow-scroll="false" padding="false" class="has-header">
		<div class="list status">
		  <p>Your account will be activated over a period of next one hour while we verify your details. We will update you once your account is ready for transactions. Happy Investing!
		  </p>
		  <p class="ion-android-happy"></p>
		</div>
    </ion-content>
</ion-view>