<ion-view title="pre_verification" class="verification" ng-controller="statusPageCtrl">
<div class="bar bar-header fino_head" ng-controller="popupController as popup">
	<div class="h1 title"><p class="head_title"><span id="title">VERIFYING YOUR DETAILS</span></p></div>
	<a class="button button-clear button-positive  ion-android-call" ng-click="showPopup()"></a>
</div>
  <span ng-controller="showhistoryController"></span>
    <ion-content overflow-scroll="true" padding="false" class="has-header">
		<div class="container statusPage" >
			<div class="rows"><img src="img/step1.jpg" class="steps"></div>
			<div class="rows padding">
				<p>{{para1}}</p>
			</div>
			<div ng-hide="docstatus">
				<hr/>
				<div class="rows padding" ng-repeat="n in nextSteps track by $index">
					<span class="custom_bullets">{{ $index+1}}</span><p >{{docsToSubmit[nextSteps[$index]]}}</p>
				</div>
				<hr/>
<div ng-controller="BankCtrl" class="padding">
	<div ng-repeat="group in successPage" class="faq_question_content Bank_questions">
	  <div class="item-stable col question"
				ng-click="toggleGroup(group)"
				ng-class="{active: isGroupShown(group)}">
		  
		&nbsp;
		<p>{{group.name}}</p>
		<i class="icon icon-right" ng-class="isGroupShown(group) ? 'ion-minus-circled' : 'ion-plus-circled'"></i>
	  </div>
	  <div class="item-accordion col answer"
				ng-repeat="item in group.items"
				ng-show="isGroupShown(group)">
		<p>{{item}}</p>
	  </div>
	</div>
</div> 
			</div>
			<div ng-if="docstatus">
				<p class="padding" style="padding: 0px 10px; margin: 0px;"><b>FinoZen Key Features -<br/></b></p>
				<p>
					<span style="color: rgb(24, 187, 156); padding: 11px;" class="ion-checkmark-circled"></span>Completely safe and secure<br/><span style="color: rgb(24, 187, 156); padding: 11px;" class="ion-checkmark-circled"></span>Expected returns better than FD<br/><span style="color: rgb(24, 187, 156); padding: 11px;" class="ion-checkmark-circled"></span>Withdraw anytime without penalty<br/><span style="color: rgb(24, 187, 156); padding: 11px;" class="ion-checkmark-circled"></span>Customer Support : 9am - 9pm (Mon-Sat)</li>
				</p>
			</div>
		</div>

    </ion-content>

<ion-footer-bar padding="false">
	<div class="button-bar " style="padding:0;">
		<button class="button button-positive" ng-click="investNowFunction()" style="margin:1px; line-height: 44px;" >{{notNow}}</button>
		<button class="button button-positive" ng-controller="termsCtrl" ng-disabled="docstatus" ng-click="activateAcc()" style="margin:1px;line-height: 44px;" >Activate Now</button>
	</div>
</ion-footer-bar>
</ion-view>