<ion-view title="Status" class="FAQ">
<div class="bar bar-header fino_head">
<a class="button button-clear ion-android-arrow-back " href="#/page14/page15"></a>
  <div class="h1 title"><p class="head_title"><span id="title">Status</span></p></div>
  <a class="button button-clear button-positive  ion-android-call" ng-href="tel:080-41245883"></a>
</div>
    <ion-content overflow-scroll="false" padding="false" class="has-header">
		<div class="list status">
		  <p>You can begin transactinng once your account has been activated. You'll be updated on the status of your account.</p>
		  <p class="ion-android-sad"></p>
		</div>
    </ion-content>
</ion-view>