<ion-view title="Success" class="verification" ng-controller="verifySuccessCtrl">
<div class="bar bar-header fino_head" ng-controller="popupController as popup">
	<div class="h1 title"><p class="head_title"><span id="title">ACCOUNT ACTIVATION</span></p></div>
	<a class="button button-clear button-positive  ion-android-call" ng-click="showPopup()"></a>
</div>
    <ion-content overflow-scroll="true" padding="false" class="has-header">
		<div class="container">
			<div class="rows"><img ng-src={{statusImage}} class="steps"></div>
			<div class="rows padding"><br/><br/>
		</div>
				<p class="text-center">CONGRATULATIONS!</p><br/>
				<p class="padding">Your account is now created. It is under review and will be activated within 1 hour if all documents are submitted and valid. We will inform you once activated.</p>
				<p class="padding"><sup>*Business hours Mon-Sat 10 A.M to 9 P.M.</sup></p>
			</div>
		</div>
		<!--<button class="button button-block" ng-controller="HomeCtrl" ng-click="showToast()">Show Toast at top with close</button>-->
			 <button ng-click="initial()">bvxcj</button>{{clientType}}
    </ion-content>

<ion-footer-bar padding="false">
	<div class="button-bar " style="padding:0;">
		<a ng-href={{notNowUrl}} class="button button-positive" style="margin:1px;line-height: 44px;" >{{notNow}}</a>
		<a ng-href={{startInvestingUrl}} class="button button-positive" style="margin:1px; line-height: 44px;" >{{startInvesting}}</a>
	</div>
</ion-footer-bar>
</ion-view>