<ion-view title="Success" class="verification"  ng-controller="verifySuccessCtrl">
<div class="bar bar-header fino_head" ng-controller="popupController as popup">
	<div class="h1 title"><p class="head_title"><span id="title">ACCOUNT ACTIVATION</span></p></div>
	<a class="button button-clear button-positive  ion-android-call" ng-click="showPopup()"></a>
</div>
    <ion-content overflow-scroll="false" padding="false" class="has-header">
		<div class="container">
			<div class="rows"><img ng-src={{statusImage}} class="steps" /></div>
			<div class="rows padding">		
				<h5 class="text-center" style="font-weight:600; text-transform:uppercase;color:#18bb9c;">Congratulations!</h5>
				<p class="padding">We have received and verified your details and you can start investing.</p>
				<p class="padding">However, we will need additional details to process your investments, Please click on 'Complete Activatation' to provide these details</p>
				<p class="padding" style="padding: 0px 10px; margin: 0px;" ><b>1. Pan Card<br/>2. Address proof (Aadhar/ Driving Licence/ Voter ID/ Passport/ Ration Card)</b></p>
			</div>
		</div>
		<hr/>
<div ng-controller="BankCtrl" class="padding">
	<div ng-repeat="group in successPage" class="faq_question_content Bank_questions">
	  <div class="item-stable col question"
				ng-click="toggleGroup(group)"
				ng-class="{active: isGroupShown(group)}">
		  
		&nbsp;
		<p>{{group.name}}</p>
		<i class="icon icon-right" ng-class="isGroupShown(group) ? 'ion-minus-circled' : 'ion-plus-circled'"></i>
	  </div>
	  <div class="item-accordion col answer"
				ng-repeat="item in group.items"
				ng-show="isGroupShown(group)">
		<p>{{item}}</p>
	  </div>
	</div>
</div> 
 </ion-content>

<ion-footer-bar padding="false">
	<div class="button-bar " style="padding:0;">
		<button class="button button-positive" ng-click="notnowFunction()" style="margin:1px;line-height: 44px;" >Complete Activation</button>
		<button class="button button-positive" ng-click="investNowFunction()" style="margin:1px; line-height: 44px;" >Start Investing</button>
	</div>
</ion-footer-bar>
</ion-view>
