

<ion-view title="Success" class="verification"  ng-controller="verifySuccessCtrl">
<div class="bar bar-header fino_head" ng-controller="popupController as popup">
	<div class="h1 title"><p class="head_title"><span id="title">ACCOUNT ACTIVATION</span></p></div>
	<a class="button button-clear button-positive  ion-android-call" ng-click="showPopup()"></a>
</div>
    <ion-content overflow-scroll="false" padding="false" class="has-header">
		<div class="container">
			<div class="rows"><img ng-src={{statusImage}} class="steps" /></div>
			<div class="rows padding"><br/><br/>
				<p class="padding">{{para1}}</p>
				<!--<p class="padding" style="padding: 0px 10px; margin: 0px;" ng-hide="disbledSkip"><b>1. {{para3}}<br/>2. {{para4}}</b></p>-->
				<p class="padding">{{para2}}</p>
			</div>
		</div>
    </ion-content>

<ion-footer-bar padding="false">
	<div class="button-bar " style="padding:0;">
		<button class="button button-positive" ng-click="notnowFunction()" style="margin:1px;line-height: 44px;" >{{notNow}}</button>
		<button class="button button-positive" ng-click="investNowFunction()" style="margin:1px; line-height: 44px;" >{{startInvesting}}</button>
	</div>
</ion-footer-bar>
</ion-view>
<!-- old signup flow

<ion-view title="Success" class="verification">
<div class="bar bar-header fino_head" ng-controller="popupController as popup">
	<div class="h1 title"><p class="head_title"><span id="title">ACCOUNT ACTIVATION</span></p></div>
	<a class="button button-clear button-positive  ion-android-call" ng-click="showPopup()"></a>
</div>
    <ion-content overflow-scroll="true" padding="false" class="has-header">
		<div class="container">
			<div class="rows"><img src="img/step3.jpg" class="steps"></div>
			<div class="rows padding"><br/><br/>
				<p class="text-center">CONGRATULATIONS!</p><br/>
				<p class="padding">Your account is now created. It is under review and will be activated within 1 hour if all documents are submitted and valid. We will inform you once activated.</p>
				<p class="padding"><sup>*Business hours Mon-Sat 10 A.M to 9 P.M.</sup></p>
			</div>
		</div>
    </ion-content>

<ion-footer-bar padding="false">
	<div class="button-bar " style="padding:0;">
		<a href="#/sliders" class="button button-positive" style="margin:1px;line-height: 44px;" >know more</a>
		<a href="#/tour" class="button button-positive" style="margin:1px; line-height: 44px;" >start investing</a>
	</div>
</ion-footer-bar>
</ion-view>-->
