
<ion-view title="Summary Page" class="summary" ng-controller="withdrawCtrl">
       <div class="row circle">
			<p class="total_value" ><span style="font-size:28px"><sup>&#x20B9;</sup></span>{{ balance|currency:""}}
			<br/><span class="current_bal item-note">Current Balance</span></p>
			
		</div>
        <div  class="row summary_values">
			<div class="col text-center" style="font-size:18px">
				<p class="inner_numbers"><span style="font-size:28px"><sup>&#x20B9;</sup></span>{{ balance|currency:""}}</p>
				<p class="item-note left"  style="margin:0; ">Net Investement</p>

				</div>
								 

			<div class="col" style="text-align:center; font-size:18px;"><p class="inner_numbers" style="margin:0;  border-left: 3px solid #808080;"><span style="font-size:28px"><sup>&#x20B9;</sup></span>100.00</p><p  style="margin:0;  border-left: 3px solid #808080;" class="item-note left">Net Gains</p></div>
        </div>
</ion-view>