
<ion-view cache-view="false" title="Summary Page" class="summary">
	<span ng-controller="showhistoryController"></span>
	<div class="row circle">
	<div class="flip-container2 flip-container">
        <div class="flipper clearfix">
          <div class="front">
			
			<p class="total_value" ><span style="font-size:28px"><img class="flipImage" src="img/left.png"style="float: left;" /><sup>&#x20B9;</sup></span>{{ balance()|currency:""}}
				<img class="flipImage" src="img/right.png"style="float: right;"/><br/><span class="current_bal item-note" translate="TEXT_LANG_BALANCE"></span>
				</p>
          </div>
          <div class="back success">
			
				<p class="total_value"><img class="flipImage" src="img/left.png"style="float: left;" />{{xirrRate()}}%<img class="flipImage" src="img/right.png"style="float: right;"/>
			<br/><span class="current_bal item-note" translate="tabTitleFlip"></span> <span style="color: #fff; font-size: 16px;" class="button-icon ion-information-circled"  ng-controller="popOverController" ng-click="popover.show($event)"> </span> </p>
				
          </div>
        </div>
    </div>

	</div>

	
		<div  class="row summary_values">
		<div class="col" style="text-align:center; font-size:18px;padding: 5px 0;">
			<p class="inner_numbers"><span style="font-size:28px;"><sup>&#x20B9;</sup></span>{{ investAmount()|currency:""}}</p>
			<p class="item-note left"  style="margin:0; " translate="TEXT_LANG_INVEST"></p>
		</div>
		<div class="col text-center" style="font-size:18px;">
			<div style="border-left: 3px solid #808080;">
			    <p class="inner_numbers" style="margin:0; "><span style="font-size:28px"><sup>&#x20B9;</sup></span>{{netGain() | currency:""}}</p>
				<p  style="margin:0; " class="item-note left">Net Gains</p>
			</div>

		</div>

		</div>
<!--
	<div  class="row summary_values">
		<div class="col" style="text-align:center; font-size:18px;padding: 5px 0;">
			<div class="flip-container1 flip-container">
				<div class="flipper clearfix">
				  <div class="back success ">
					<p class="inner_numbers" style="margin:0; "><span style="font-size:28px"><sup>&#x20B9;</sup></span>{{netGain() | currency:""}} </p>
					<p  style="margin:0;  " class="item-note left" translate="TEXT_LANG_NETGAIN"></p>
				  </div>
				  <div class="front">
					<p class="inner_numbers"><span style="font-size:28px;"><sup>&#x20B9;</sup></span>{{ investAmount()|currency:""}}</p>
					<p class="item-note left"  style="margin:0; " translate="TEXT_LANG_INVEST"></p>
				  </div>
				</div>
			</div>
		</div>
		<div class="col text-center" style="font-size:18px;">
			<div style="border-left: 3px solid #808080;">
			    <p class="inner_numbers" style="margin:0; "><span style="font-size:28px"><sup>&#x20B9;</sup></span>{{gainToday() | currency:""}}</p>
				<p  style="margin:0; " class="item-note left">Net Gains Today</p>
			</div>

		</div>

		</div>
		
-->


<!--
		<div class="col" style="text-align:center; font-size:18px;">
		<p class="inner_numbers" style="margin:0;  border-left: 3px solid #808080;"><span style="font-size:28px"><sup>&#x20B9;</sup></span>{{netGain() | currency:""}} </p>
		<p  style="margin:0;  border-left: 3px solid #808080;" class="item-note left" translate="TEXT_LANG_NETGAIN"></p></div>
-->
</ion-view>