<ion-side-menus enable-menu-with-back-views="false" >
  <ion-side-menu-content  drag-content="false">
<div class="bar bar-header fino_head" style="background-color:#18bb9c;height:55px;">
  <button class="button button-clear button-positive   ion-navicon " style="color:white; font-size:30px;" menu-toggle="left" ></button>
  <div class="h1 title"><p>FinoZen</p></div>
  <button class="button button-clear button-positive  ion-android-call" style="color:white; font-size:25px;"></button>
  <button class="button button-dark" ion-android-call ng-click="showPopup()" style="color:white; font-size:25px;"></button>
</div>

    <ion-tabs class="tabs-stable tabs-icon-top tabs-top inner_tabs" ng-controller="MyCtrl_swipe">
        <ion-tab title="Summary" href="#/page14/page15">
            <ion-nav-view name="tab7" delegate-handle="mainScroll"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Growth Rate" href="#/page14/page9" >
            <ion-nav-view name="tab8" delegate-handle="mainScroll"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Transactions" href="#/page14/page10">
            <ion-nav-view name="tab9" delegate-handle="mainScroll"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
    <div class="bar bar-footer row invest_button_footer" style="width: 100%; background:#E5ECF4 ;">
  <div class="col invest_button"><a href="#/withdraw"><img src="img/minus.png" /></a><br /><span class="invest_bottom_button red">WITHDRAW</span></div>
  <div class="col invest_button"><a href="#/invest"><img src="img/plus.png" /></a><br /><span class="invest_bottom_button green">INVEST</span></div>
</div>

  </ion-side-menu-content>

   <!-- Side Menu (left) -->
    <ion-side-menu side="left" class="screen_sidemenu" >
		<div class="row title account_block bar-subheader">
          <div class="col-20"><img src="img/account-image.png"></div>
          <div class="col-70">
            <p>Rachna Gothi</p> 
            <p>+91-9566245137</p>
        </div>        
        </div>
			
    <ion-content>
            <ion-list class="menulist">
                 <ion-item nav-clear menu-close  href="#/account" menu-close=""><i class="icon ion-ios-person-outline"></i>Account </ion-item>
                 <ion-item nav-clear menu-close  href="#/" menu-close=""><i class="icon ion-ios-people-outline"></i>Invite Friends</ion-item>
                 <ion-item nav-clear menu-close  href="#/" menu-close=""><i class="icon ion-ios-help-outline"></i>FAQ</ion-item>
                 <ion-item nav-clear menu-close  href="#/" menu-close=""><i class="icon ion-ios-compose-outline"></i>Feedback</ion-item>
                 <ion-item nav-clear menu-close  href="#/faq" menu-close=""><i class="icon ion-ios-locked-outline"></i>Privacy </ion-item>
                 <ion-item nav-clear menu-close  href="#/sidemenu" menu-close=""><i class="icon ion-ios-list-outline"></i>Terms & Conditions</ion-item>
                 <ion-item nav-clear menu-close  href="#/side-menu21/page7" menu-close=""><i class="icon ion-ios-email-outline"></i>contact us</ion-item>
                 <ion-item nav-clear menu-close  href="#/side-menu21/page7" menu-close=""><i class="icon ion-power"></i>Sign Out</ion-item>
            </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
