<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content  drag-content="false" class="tab_controller">
<div class="bar bar-header fino_head" ng-controller="popupController as popup">
  <a class="button button-clear button-positive ion-navicon-round" menu-toggle="left" ></a>
	<div class="h1 title"><p class="head_title"><span id="title fino">FinoZen</span></p></div>
  <a class="button button-clear button-positive  ion-android-call" ng-click="showPopup()"></a>
</div>
    <ion-content scroll="false">
    <ion-slide-box slide-tabs-scrollable="false"  show-pager="false" ion-slide-tabs>
        
      <ion-slide ion-slide-tab-label="SUMMARY">
        <summary-page></summary-page>
      </ion-slide>
                <ion-slide ion-slide-tab-label="GROWTH RATE">
                 <growth-rate></growth-rate>
                </ion-slide>
                <ion-slide ion-slide-tab-label="TRANSACTIONS">
                    <span><recent-transact></recent-transact></span>

                </ion-slide>
     
    </ion-slide-box>
 </ion-content>
    <div class="bar bar-footer row invest_button_footer" style="width: 100%; background:#E5ECF4 ;">
  <div class="col invest_button"><a href="#/withdraw" class="button button-clear button-positive  ion-ios-minus-empty invest_btn red" ></a><br /><span class="invest_bottom_button red">WITHDRAW</span></div>
  <div class="col invest_button"><a href="#/invest" class="button button-clear button-positive  ion-ios-plus-empty invest_btn green" ></a><br /><span class="invest_bottom_button green">ADD MONEY</span></div>
</div>

  </ion-side-menu-content>

   <!-- Side Menu (left) -->
    <ion-side-menu side="left" class="screen_sidemenu" >
		<a href="#/account"><div class="row title account_block bar-subheader">
          <div class="col-20 account_bar"><img src="img/account-image1.png"></div>
          <div class="col-70 account_bar">
            <div class="account_bar_info"><p>Rachna Gothi</p>
            <p>+91-9566245137</p></div>
        </div>
        </div></a>
<a href="#"  >T & C</a>
    <ion-content>
            <ion-list class="menulist">
                 <ion-item nav-clear menu-close  href="#/invite" menu-close=""><i class="icon ion-ios-people-outline"></i>Invite Friends</ion-item>
                 <ion-item nav-clear menu-close  href="#/faq" menu-close=""><i class="icon ion-ios-help-outline"></i>FAQ</ion-item>
                 <ion-item nav-clear menu-close  onclick="window.open('http://www.finotrust.com/documents/privacyPolicy.pdf', '_self', 'location=yes'); return false;" menu-close=""><i class="icon ion-ios-locked-outline"></i>Privacy </ion-item>
                 <ion-item nav-clear menu-close  onclick="window.open('http://www.finotrust.com/documents/T&C.pdf', '_self', 'location=yes'); return false;" menu-close=""><i class="icon ion-ios-list-outline"></i>Terms & Conditions</ion-item>
                 <ion-item nav-clear menu-close  href="#/contact" menu-close=""><i class="icon ion-ios-email-outline"></i>contact us</ion-item>
                 <ion-item nav-clear menu-close  href="#page7" menu-close=""><i class="icon ion-power"></i>Sign Out</ion-item>
            </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
