<ion-view title="Terms & Conditions">
    <span ng-controller="googleanalytics"></span>
<div class="screen_privpolicy">
<div class="bar bar-header fino_head" ng-controller="popupController as popup">
	<a class="button button-clear ion-android-arrow-back " href="#/page14/page15"  ></a>
	<div class="h1 title"><p class="head_title"><span id="title">TERMS & CONDITIONS</span></p></div>
	<a class="button button-clear button-positive  ion-android-call" ng-click="showPopup()"></a>
</div>
    <ion-content overflow-scroll="false" padding="false" class="has-header">
      <div class="row logo">
        <img src="img/logo_priv.png">
      </div>
        <div class="row privacy_info">
          <div>
            <p>FinoZen is the most convenient way to invest your money and grow rapidly. FinoZen is PCI dss 2.0 certified and uses Verisign certified 128-bit encryption
             technology. It is completely safe and your informaiton is secure.</p>
          </div>
          <div><p>At FinoZen we are committed to building an amazing mobile experience for your investment needs.</p> </div>


        </div>
    </ion-content>

</div>
<div class="bar bar-footer bar-light">
  <div class="title">@ Copyright FinoTrust Pvt. Ltd, 2016</div>
</div>
</ion-view>
