<ion-view title="Withdraw" class="withdraw_screen">
<div class="screen_invest">
<div class="bar bar-header fino_head" ng-controller="popupController as popup">
	<a class="button button-clear ion-android-arrow-back " href="#/page14/page15" ></a>
	<div class="h1 title"><p class="head_title"><span id="title">WITHDRAW</span></p></div>
	<a class="button button-clear button-positive  ion-android-call" ng-click="showPopup()"></a>
</div>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
		<div class="row bar bar-subheader invest_subheader">
		  <p class="title">CURRENT BALANCE : <span style="color:#18bb9c">{{ balance|currency:"&#x20B9; "}}</span></p>
		</div>
		<div class="row invest_info">
		<p>How much would you like to Withdraw ?</p>
		</div>
		<div class="list invest_info">
		  <label class="item item-input">
			<input type="number" placeholder="Enter Amount" ng-disabled="checked_withdraw" max="{{balance}}" step="1">
		  </label>
		</div>
		<label class="row withdraw_all">
			<input ng-model="checked_withdraw" checked type="checkbox" id="withdraw_money" placeholder="Enter Amount" style="margin: 4px;"><label for="withdraw_money" >Withdraw my complete balance</label>
		</label>
		<div class="row">
		<a class="button button-full button-positive bar-footer invest_button_footer"  href="#/success">Withdraw</a>
		</div>
    </ion-content>

</div>
</ion-view>
