<ion-view title="Withdraw" class="withdraw_screen">

<div class="bar bar-header fino_head" ng-controller="popupController as popup">
	<a class="button button-clear ion-android-arrow-back " href="#/page14/page15" ></a>
	<div class="h1 title"><p class="head_title"><span id="title" translate="BUTTON_LANG_WITH"></span></p></div>
	<a class="button button-clear button-positive  ion-android-call" ng-click="showPopup()"></a>
</div>
    <ion-content overflow-scroll="true" padding="true" class="has-header" ng-controller="AuthWithdrawlCtrl" ng-click="RelianceBank()">
<div class="screen_invest">
		<div class="row bar bar-subheader invest_subheader" style="height:75px">
		  <p class="title" style="text-align:left;" ng-controller="withdrawCtrl"><span class="subText" translate="TEXT_CURRENT_BALANCE"></span>: <span style="color:#18bb9c">{{ balance() |currency:"&#x20B9; "}}</span></p>
	<div class="invest_info text-center ">
<ion-process-spinner style="width:100%; text-align: center;" processing="processing" spinner="bubbles" css-class="spinner-balanced">				
  <div class="item item-button-right text-left instaRefresh">
   <span class="subText"> Instant Withdrawal <span style="color: #18bb9c; font-size: 16px;" class="button-icon ion-information-circled"  ng-controller="instaPopOverController" ng-click="popover.show($event)"> </span> </span>: <span ng-hide="instaError" style="color:#18bb9c">{{insta| currency:"&#x20B9; "}}</span><span ng-show="instaError">{{instaError}} </span>
    <button class="button button-clear" ng-hide="instaError" ng-click="RelianceInstaAmount()">
      <i class="icon ion-refresh"></i>
    </button>
  </div>	
</ion-process-spinner>
	</div>
		</div>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<div class="row withdraw_all">
		<p translate="TEXT_WIHTDRAW_BALANCE"></p>
		</div>
		<form name="withdrawForm" novalidate="" >

	<div class="list">
		<label class="item item-input" ng-class="{ 'has-errors' : withdrawForm.amount.$touched && withdrawForm.amount.$invalid, 'no-errors' :  withdrawForm.amount.$touched && withdrawForm.amount.$valid}">
			<input type="number" name="amount" ng-disabled="checked_withdraw" ng-model="amount" ng-pattern="/^[0-9]{1,9}$/" max="{{balance()}}" min="100">
		</label>
		<div class="error-container" ng-show="withdrawForm.amount.$error && withdrawForm.$submitted" ng-messages="withdrawForm.amount.$error">
			<div  class="error" >
				<div  ng-message="max" ng-hide="checked_withdraw" >
					Enter valid amount
				</div>
				<div  ng-message="min" ng-hide="checked_withdraw" >
					 Minimum withdrawal amount is <span>&#x20B9;</span> 100
				</div>
				<div  ng-message="pattern" ng-hide="checked_withdraw" >
					Enter valid Integer
				</div>
				<div ng-hide="checked_withdraw">{{withdraw_error}} </div>
				<div>{{withdraw_Networkerror}} </div>
			</div>


		</div>
		<label class="row withdraw_all">
			<input ng-model="checked_withdraw" type="checkbox" id="withdraw_money" ng-change="amountClear()" placeholder="Enter Amount" style="margin: 4px;margin-left: 0;"><label for="withdraw_money" >Withdraw my complete balance</label>
		</label>
	</div>
	<button ion-track-tap="withdraw confirm" class="button button-full button-positive" type="submit" ng-click="Withdrawl(withdrawForm)" translate="BUTTON_LANG_WITH">

	</button>
 <p>Instant withdrawal amount (Min Rs 500) will be credited within 30 minutes to your registered bank account. For other amounts, see below</p>
	<div class="row deposit_table" >

		<table>
			<thead>
				<th translate="Withdrawal"></th>
				<th translate="deposit"></th>
			</thead>
			<tr>
				<td>Mon - Thu, <span translate="withdrawlTimeBefore"></span></td>
				<td><span translate="dayAfter"></span> 10 am</td>
			</tr>
			<tr>
				<td>Mon - Thu, <span translate="withdrawlTimeAfter"></span></td>
				<td><span translate="dayAfterNext"></span> 10 am</td>
			</tr>
			<tr>
				<td>Fri <span translate="withdrawlTimeBefore"></span></td>
				<td>Mon 10 am</td>
			</tr>
			<tr>
				<td>Fri <span translate="withdrawlTimeAfter"></span>, Sat <span translate="andText"></span> Sun</td>
				<td>Tue 10 am</td>
			</tr>
		</table>


		</div>

		<p class="small_text" translate="withdrawBottomLine"></p>
</form>
</div>
    </ion-content>


</ion-view>
